n8n/agent-v-test-original.json
{"updatedAt":"2026-01-29T15:12:13.651Z","createdAt":"2025-12-11T12:27:57.968Z","id":"KaXPranNfRh0GvQQ","name":"agent v-test","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[4432,560],"id":"091d7de8-7748-48a2-932e-18e79c3735df","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"w72DejHyJvEemirH","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[4880,736],"id":"54398f11-2c6a-4401-8b8a-48e9222de75f","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"w72DejHyJvEemirH","name":"OpenAi account"}}},{"parameters":{"resource":"Messages","operation":"Create A New Message In A Conversation","account_id":"={{ $('Webhook1').item.json.body.account.id }}","conversation_id":"={{ $('Webhook1').item.json.body.conversation.messages[0].conversation_id }}","content":"={{ $json.output }}","private":false,"content_type":"={{null}}","content_attributes":"={} ","template_params":"{\n  \"name\": \"sample_issue_resolution\",\n  \"category\": \"UTILITY\",\n  \"sender_type\": \"agent_bot\",\n  \"agent_id\": 7,\n  \"language\": \"en_US\",\n  \"processed_params\": {\n    \"1\": \"Chatwoot\"\n  }\n}","requestOptions":{}},"type":"@devlikeapro/n8n-nodes-chatwoot.chatWoot","typeVersion":1,"position":[6064,112],"id":"9e32fb8e-30d3-44bd-8110-148dd62fe1dd","name":"Create New Message2","credentials":{"chatwootApi":{"id":"iQ2KMdnP3Z3u7ENV","name":"ChatWoot admin token"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"444007aa-0968-4c02-a247-9a9245a3f795","leftValue":"={{ $('Webhook1').item.json.body.conversation.messages[0].attachments[0].file_type }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5376,528],"id":"b83afe15-d022-495e-ba59-5fdb65427ec6","name":"If"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/audio/speech","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"gpt-4o-mini-tts"},{"name":"input","value":"={{ $json.output }}"},{"name":"voice","value":"alloy"},{"name":"instructions","value":" Voice: Clear, warm, welcoming and professional. accent: hebrew"}]},"options":{"redirect":{"redirect":{}},"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5744,656],"id":"439cd83f-0eda-4e41-b76f-2bb09b98d213","name":"Open AI - generate audio","credentials":{"openAiApi":{"id":"w72DejHyJvEemirH","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"=https://chatwoot-production-934a.up.railway.app/api/v1/accounts/{{ $('Webhook1').item.json.body.account.id }}/conversations/{{ $('Webhook1').item.json.body.conversation.messages[0].conversation_id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"GQbD13Yk6zEmebcUtGDhkW9Z"},{"name":"Content-Type","value":"multipart/form-data; boundary=----WebKitFormBoundary"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"attachments[]","inputDataFieldName":"=data"},{"name":"message_type","value":"outgoing"},{"name":"file_type","value":"audio"},{"name":"content","value":"={{ $('If').item.json.output }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6032,656],"id":"bdb2ca67-de78-447a-8313-5875b11f2ccc","name":"chatwoot - send message with audio file"},{"parameters":{"httpMethod":"POST","path":"41a26357-ea93-48e2-bbff-8678ac92fad7","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[880,-64],"id":"f1bacc7f-a8d5-4a0b-8ab7-08ff3206ec16","name":"Webhook1","webhookId":"41a26357-ea93-48e2-bbff-8678ac92fad7"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"017fc782-da70-4bd7-86e2-bebb1980e095","leftValue":"={{ $json.body.message_type }}","rightValue":"incoming","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"39cdf9dc-2ea6-4b42-838e-4b48eab10a02","leftValue":"={{ $json.body.conversation.messages[0].content }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"12534e5a-ba25-44f3-aecb-827f9f1e77e4","leftValue":"={{ $json.body.conversation.status }}","rightValue":"open","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1040,-64],"id":"fe417f59-b6a8-4768-b704-c727ea5c749e","name":"If incoming"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook1').item.json.body.sender.account.id }}x{{ $('Webhook1').item.json.body.conversation.messages[0].conversation_id }}x{{ $('Get user parameters').item.json.response['user ID'] }}","contextWindowLength":"=10"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[4608,560],"id":"f7c35f5c-79af-49da-a9e7-4f995f864a0e","name":"Simple Memory"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Search the company knowledge base to answer user questions. Contains product information, policies, procedures, FAQs, and support documentation. Use this tool before saying you don't have information. Query with specific keywords from the user's question.","tableName":{"__rl":true,"value":"vector_store","mode":"list","cachedResultName":"vector_store"},"options":{"metadata":{"metadataValues":[{"name":"user_ID","value":"={{ $('Get user parameters').item.json.response['user ID'] }}"}]}}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[4880,560],"id":"b14087b3-10d4-491e-8034-b9e2bc4af978","name":"Knowledge base","credentials":{"supabaseApi":{"id":"tQMGMR567EpxcMjf","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"https://app.cardynal.io/version-test/api/1.1/wf/get-chat-parameters","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"account","value":"={{ $('Webhook1').item.json.body.account.id }}"},{"name":"conversation","value":"={{ $('Webhook1').item.json.body.conversation.messages[0].conversation_id }}"},{"name":"inbox","value":"={{ $('Webhook1').item.json.body.conversation.messages[0].inbox_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1520,-80],"id":"dbe8b05e-728b-47bf-9302-93303bb106b5","name":"Get user parameters","credentials":{"httpBearerAuth":{"id":"BregUFrc5L7fmMUT","name":"Bubble"}}},{"parameters":{"promptType":"define","text":"={{ $('Webhook1').item.json.body.conversation.messages[0].processed_message_content }}","hasOutputParser":true,"options":{"systemMessage":"=You are the Routing Agent.\n\nYour task is to analyze the user's message WITH CONVERSATION CONTEXT and classify it into one of two categories:\n\n1️⃣ Escalation → if ANY escalation rule matches\n2️⃣ Scenario → if an existing playbook is appropriate\n\nYou must ALWAYS return a JSON object with the following structure as output:\n\n{\n  \"type\": \"escalation\" | \"scenario\",\n  \"id\": \"<_id>\"\n}\n\nOutput must ALWAYS be valid JSON. Never answer or continue the conversation.\n\n---\n\n# RULES\n\n- Use the CONVERSATION HISTORY to understand context (e.g., if user says \"oui\" or gives an email, check what was asked before)\n- If ANY escalation rule matches the user message → return `\"type\": \"escalation\"` and the matching escalation `_id`\n- If NO escalation rule matches → select the MOST relevant playbook and return `\"type\": \"scenario\"` + the `_id`\n- If multiple playbooks match → choose the MOST specific scenario\n- If conversation is already in progress with a playbook, CONTINUE with that same playbook unless escalation is triggered\n- NEVER return multiple playbooks\n- NEVER return `null`\n- NEVER omit `\"id\"`\n- NEVER output text outside JSON\n- NEVER explain your reasoning\n\n---\n\n# CONVERSATION HISTORY\n{{ $json.conversation_history }}\n\n---\n\n# PLAYBOOKS\n{{ $json.playbooks_text }}\n\n---\n\n# ESCALATION RULES\n{{ $json.escalation_rules_text }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[2496,-80],"id":"e8143fd3-5cb8-4def-9b13-72e284a9754c","name":"Routing agent","executeOnce":true},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[2432,192],"id":"75dbeed4-22a2-4ccc-9db9-ed99fc583b14","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"w72DejHyJvEemirH","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook1').item.json.body.sender.account.id }}x{{ $('Webhook1').item.json.body.conversation.messages[0].conversation_id }}x{{ $('Get user parameters').item.json.response['user ID'] }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[2592,192],"id":"c553f650-1095-468f-b50d-4c24feb7f205","name":"Simple Memory1"},{"parameters":{"sendHeaders":true,"specifyHeaders":"json","sendBody":true,"specifyBody":"json","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2368,544],"id":"2d3bb75f-2883-4fe7-9ab1-95f52f6ef756","name":"HTTP Request"},{"parameters":{"operation":"create","typeName":"🤖 messages","properties":{"property":[{"key":"1 user input ","value":"={{ $('Webhook1').item.json.body.conversation.messages[0].content }}"},{"key":"2 agent output","value":"={{ $('Playbook agent').item.json.output }}"},{"key":"owner ","value":"={{ $('Get user parameters').item.json.response['user ID'] }}"},{"key":"chat account ID ","value":"={{ $('Webhook1').item.json.body.account.id }}"},{"key":"chat conversation ID","value":"={{ $('Webhook1').item.json.body.conversation.messages[0].conversation_id }}"},{"key":"chat inbox ID","value":"={{ $('Webhook1').item.json.body.conversation.contact_inbox.inbox_id }}"},{"key":"3 playbook used","value":"={{ $('Load playbook').item.json.activeItem._id }}"},{"key":"session","value":"={{ $json.id }}"}]}},"type":"n8n-nodes-base.bubble","typeVersion":1,"position":[7104,256],"id":"c1b571fa-42d3-43d3-88cb-ab688fb29129","name":"log message in bubble","credentials":{"bubbleApi":{"id":"AYXWKQxjByw1gY7W","name":"Bubble account"}}},{"parameters":{"jsCode":"// Récupère playbooks & escalations\nconst playbooks = items[0].json.response.playbooks || [];\nconst escalations = items[0].json.response[\"escalations rules\"] || [];\nconst history = items[0].json.response[\"conversation historique\"] || [];\n\n// BUILD PLAYBOOKS TEXT\nlet playbooksOutput = \"PLAYBOOKS:\\n\\n\";\nfor (const pb of playbooks) {\n  playbooksOutput += `ID: ${pb._id}\\n`;\n  playbooksOutput += `Title: ${pb.title}\\n`;\n  if (pb.audience) playbooksOutput += `Audience: ${pb.audience}\\n`;\n  if (pb.rules) playbooksOutput += `Rules: ${pb.rules}\\n`;\n  playbooksOutput += `Enabled: ${pb.enabled}\\n\\n---\\n\\n`;\n}\n\n// BUILD ESCALATION RULES TEXT\nlet escalationOutput = \"ESCALATION RULES:\\n\\n\";\nfor (const esc of escalations) {\n  escalationOutput += `ID: ${esc._id}\\n`;\n  escalationOutput += `Title: ${esc.title}\\n`;\n  if (esc.audience) escalationOutput += `Audience: ${esc.audience}\\n`;\n  if (esc.trigger) escalationOutput += `Trigger: ${esc.trigger}\\n`;\n  if (esc.rules) escalationOutput += `Rules: ${esc.rules}\\n`;\n  escalationOutput += `Enabled: ${esc.enabled}\\n\\n---\\n\\n`;\n}\n\n// BUILD CONVERSATION HISTORY (ordre chronologique)\nlet historyOutput = \"\";\nconst sortedHistory = history.sort((a, b) => a[\"Created Date\"] - b[\"Created Date\"]);\n\nfor (const msg of sortedHistory) {\n  historyOutput += `Human: ${msg[\"1 user input \"]?.trim() || \"\"}\\n`;\n  historyOutput += `AI: ${msg[\"2 agent output\"]?.trim() || \"\"}\\n`;\n}\n\n// RETURN\nreturn [\n  {\n    json: {\n      playbooks_text: playbooksOutput,\n      escalation_rules_text: escalationOutput,\n      conversation_history: historyOutput\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2096,-80],"id":"12447b0d-c8ac-40db-b0b9-558632cdd339","name":"Load playbooks"},{"parameters":{"operation":"create","typeName":"🤖 sessions","properties":{"property":[{"key":"owner","value":"={{ $('Get user parameters').item.json.response['user ID'] }}"},{"key":"inbox ID","value":"={{ $('Webhook1').item.json.body.conversation.messages[0].inbox_id }}"},{"key":"conversation ID","value":"={{ $('Webhook1').item.json.body.conversation.messages[0].conversation_id }}"},{"key":"account ID","value":"={{ $('Webhook1').item.json.body.conversation.messages[0].account_id }}"}]}},"type":"n8n-nodes-base.bubble","typeVersion":1,"position":[6832,256],"id":"1bd4da88-5361-4fe3-b8d7-8428d0876162","name":"Create session","credentials":{"bubbleApi":{"id":"AYXWKQxjByw1gY7W","name":"Bubble account"}}},{"parameters":{"operation":"create","typeName":"🤖 messages","properties":{"property":[{"key":"1 user input ","value":"={{ $('Webhook1').item.json.body.conversation.messages[0].content }}"},{"key":"2 agent output","value":"={{ $('Playbook agent').item.json.output }}"},{"key":"owner ","value":"={{ $('Get user parameters').item.json.response['user ID'] }}"},{"key":"chat account ID ","value":"={{ $('Webhook1').item.json.body.account.id }}"},{"key":"chat conversation ID","value":"={{ $('Webhook1').item.json.body.conversation.messages[0].conversation_id }}"},{"key":"chat inbox ID","value":"={{ $('Webhook1').item.json.body.conversation.contact_inbox.inbox_id }}"},{"key":"3 playbook used","value":"={{ $('Load playbook').item.json.activeId }}"},{"key":"session","value":"={{ $('Get user parameters').item.json.response['last session']._id }}"}]}},"type":"n8n-nodes-base.bubble","typeVersion":1,"position":[7104,448],"id":"9222f8d8-d903-4b1f-bd2f-d2e620256c8b","name":"log message in bubble1","credentials":{"bubbleApi":{"id":"AYXWKQxjByw1gY7W","name":"Bubble account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a879e0d1-ebdc-4735-b03e-07e7dac9dfb8","leftValue":"={{ Date.now() - $('Get user parameters').item.json.response['last message']['Created Date'] }}","rightValue":300000,"operator":{"type":"number","operation":"gt"}},{"id":"9eeca0b9-e01c-4094-be93-634550b268c1","leftValue":"={{ $('Get user parameters').item.json.response['last message'] }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[6336,368],"id":"4b20b472-db95-43c6-af18-ebf2f93cadc2","name":"is new session"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"\",\n  \"id\": \"\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[2752,192],"id":"8fde6eb6-b75c-49ed-9d37-28cab0361b76","name":"Structured Output Parser"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.output.type }}","rightValue":"escalation","operator":{"type":"string","operation":"equals"},"id":"98c6af5a-8a3a-4e7c-9c07-efe9eb5558d5"}],"combinator":"and"},"renameOutput":true,"outputKey":"escalation"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"d16e0d46-8a9b-4d92-875c-6de9838f69f7","leftValue":"={{ $json.output.type }}","rightValue":"scenario","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"scenario"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[2992,-80],"id":"1acf8788-d919-4fb3-9f1c-c3ef93572d3c","name":"Switch"},{"parameters":{"jsCode":"const params = $('Get user parameters').first().json.response;\nconst escalationRules = params[\"escalations rules\"] || [];\nconst routingOutput = $('Routing agent').first().json.output;\nconst activeId = routingOutput.id || null;\n\nlet activeItem = null;\n\nfor (let i = 0; i < escalationRules.length; i++) {\n  if (escalationRules[i]._id === activeId) {\n    activeItem = escalationRules[i];\n    break;\n  }\n}\n\nreturn [\n  {\n    json: {\n      activeType: \"escalation\",\n      activeId: activeId,\n      activeItem: activeItem || {},\n      activeText: activeItem ? activeItem.title : \"Not found\"\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3888,-240],"id":"ae3d90e5-f441-4006-9598-b45090cf8313","name":"Code in JavaScript"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[4272,-32],"id":"872d02ab-8844-40b1-89e7-0815b6aca354","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"w72DejHyJvEemirH","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook1').item.json.body.sender.account.id }}x{{ $('Webhook1').item.json.body.conversation.messages[0].conversation_id }}x{{ $('Get user parameters').item.json.response['user ID'] }}","contextWindowLength":"=10"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[4496,-32],"id":"22cd09f0-3225-4bcb-9973-45e2b37c3332","name":"Simple Memory2"},{"parameters":{"promptType":"define","text":"={{ $('Webhook1').item.json.body.conversation.messages[0].processed_message_content }}","options":{"systemMessage":"=# Identity\nYou are {{ $('Get user parameters').item.json.response.agent.Name }}.\n\n# Global Instructions\n{{ $('Get user parameters').item.json.response.agent.Prompt }}\n\nYour mission is to respond STRICTLY according to the ACTIVE PLAYBOOK provided in the user message context.\n\nYou must:\n- Follow the playbook’s scenario and rules with absolute priority.\n- Adapt tone and length according to the user parameters.\n- Never contradict or go outside the playbook.\n- Never invent rules or features.\n- Never mention that you are following a playbook.\n\n# Tone Configuration\nPrimary tone: {{ $('Get user parameters').item.json.response.agent.tone }}\nSecondary tone instructions: {{ $('Get user parameters').item.json.response.tone }}\n\n# Length Configuration\n{{ $('Get user parameters').item.json.response.lenght }}\n\n# Knowledge Base Usage\nYou are allowed to use the Knowledge Base node if connected.\n\nRules:\n- Search the knowledge base before saying you don't know.\n- Base your answers strictly on retrieved information.\n- If the search returns no result, say it transparently.\n- Do not invent facts.\n- You may quote or paraphrase the source.\n- If information is partial, answer what you can and mention the gap.\n\n# Playbook Priority\nWhen a playbook is active, it overrides:\n- general behavior rules,\n- tone defaults,\n- knowledge base fallback,\n- normal conversation flows.\n\nYour answer MUST reflect the scenario and rules of the active playbook.\n\n# Output Format\nWrite a natural-sounding assistant response.\nDo NOT output JSON.\nDo NOT mention system settings.\nDo NOT mention agent parameters.\nDo NOT mention the existence of playbooks.\nDo NOT include meta commentary.\n\nFocus only on giving the user the best next action according to the ACTIVE PLAYBOOK.\n\n#ACTIVE PLAYBOOK:{{ $('Load playbook').item.json.activeItem.title }}\n- Playbook audience: {{ $('Load playbook').item.json.activeItem.audience }}\n- playbook scenario: {{ $('Load playbook').item.json.activeItem.content }}\n- playbook rules and guidelines: {{ $('Load playbook').item.json.activeItem.rules }}","enableStreaming":false}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[4640,272],"id":"2fa2a8ec-0b22-4226-bcf1-3cd076a58130","name":"Playbook agent"},{"parameters":{"promptType":"define","text":"={{ $('Webhook1').item.json.body.conversation.messages[0].processed_message_content }}","hasOutputParser":true,"options":{"systemMessage":"=You are the **Escalation Agent**.\n\nYour purpose is to respond politely to the user while clearly acknowledging the problem and escalating it to a human operator.\n\nYou must always:\n\n* avoid giving technical details or speculative fixes\n* avoid committing to deadlines or promises\n* clarify the issue if necessary, briefly\n* reassure the user and explain that the technical team will intervene\n\n---\n\n### **Dynamic context**\n\n* **Escalation ID:** `{{ $json.activeId }}`\n* **Title:** `{{ $json.activeItem.title }}`\n* **Audience:** `{{ $json.activeItem.audience }}`\n* **Trigger:**\n  `{{ $json.activeItem.trigger }}`\n* **Rules:**\n  `{{ $json.activeItem.rules }}`\n\nFull escalation metadata:\n\n```\n{{ $json.activeText }}\n```\n\nUser message requiring escalation:\n\n```\n{{ $('Webhook1').item.json.body.conversation.messages[0].processed_message_content }}\n```\n\n---\n\n### **Expected output format (STRICT)**\n\nRespond only in JSON:\n\n```\n{\n  \"reponse\": \"<message destiné à l'utilisateur>\",\n  \"resume\": \"<résumé de la situation destiné à l'agent humain>\"\n}\n```\n\nWhere:\n\n* `reponse` → courte, empathique, sans détails techniques\n* `resume` → claire explication du problème, contexte, sévérité éventuelle\n\nNo markdown, no additional text outside JSON.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[4448,-240],"id":"91c3aa0b-ac28-4724-8275-e2f7dddc1ca9","name":"escalation agent"},{"parameters":{"jsonSchemaExample":"{ \n  \"reponse\": \"\", \n  \"resume\": \"\" }"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[4688,-32],"id":"d9a80809-b9e4-40d6-a9bb-e61f0216703b","name":"Structured Output Parser1"},{"parameters":{"resource":"Messages","operation":"Create A New Message In A Conversation","account_id":"={{ $('Webhook1').item.json.body.account.id }}","conversation_id":"={{ $('Webhook1').item.json.body.conversation.messages[0].conversation_id }}","content":"={{ $json.output.reponse }}","private":false,"content_type":"={{ null }}","content_attributes":"={} ","requestOptions":{}},"type":"@devlikeapro/n8n-nodes-chatwoot.chatWoot","typeVersion":1,"position":[5552,-800],"id":"f08b95b4-eaa6-4ad7-b6aa-cf2be510fbfa","name":"Create New Message","credentials":{"chatwootApi":{"id":"iQ2KMdnP3Z3u7ENV","name":"ChatWoot admin token"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"444007aa-0968-4c02-a247-9a9245a3f795","leftValue":"={{ $('Webhook1').item.json.body.conversation.messages[0].attachments[0].file_type }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5104,-304],"id":"3ea2f1fb-94ab-40ae-af42-7b3347edd9ef","name":"If1"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/audio/speech","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"gpt-4o-mini-tts"},{"name":"input","value":"={{ $json.output }}"},{"name":"voice","value":"alloy"},{"name":"instructions","value":" Voice: Clear, warm, welcoming and professional. accent: hebrew"}]},"options":{"redirect":{"redirect":{}},"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5472,-176],"id":"6417bf6a-e0dd-4fab-a58c-ad858eedd31a","name":"Open AI - generate audio1","credentials":{"openAiApi":{"id":"w72DejHyJvEemirH","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"=https://chatwoot-production-934a.up.railway.app/api/v1/accounts/{{ $('Webhook1').item.json.body.account.id }}/conversations/{{ $('Webhook1').item.json.body.conversation.messages[0].conversation_id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"GQbD13Yk6zEmebcUtGDhkW9Z"},{"name":"Content-Type","value":"multipart/form-data; boundary=----WebKitFormBoundary"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"attachments[]","inputDataFieldName":"=data"},{"name":"message_type","value":"outgoing"},{"name":"file_type","value":"audio"},{"name":"content","value":"={{ $('If1').item.json.output }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5760,-176],"id":"00df4c64-493f-451b-9444-38b140e48cd3","name":"chatwoot - send message with audio file1"},{"parameters":{"operation":"create","typeName":"🤖 messages","properties":{"property":[{"key":"1 user input ","value":"={{ $('Webhook1').item.json.body.conversation.messages[0].content }}"},{"key":"2 agent output","value":"={{ $('escalation agent').item.json.output.reponse }}"},{"key":"owner ","value":"={{ $('Get user parameters').item.json.response['user ID'] }}"},{"key":"chat account ID ","value":"={{ $('Webhook1').item.json.body.account.id }}"},{"key":"chat conversation ID","value":"={{ $('Webhook1').item.json.body.conversation.messages[0].conversation_id }}"},{"key":"chat inbox ID","value":"={{ $('Webhook1').item.json.body.conversation.contact_inbox.inbox_id }}"},{"key":"4 escalation","value":"={{ $('Code in JavaScript').item.json.activeId }}"},{"key":"session","value":"={{ $json.id }}"}]}},"type":"n8n-nodes-base.bubble","typeVersion":1,"position":[7120,-576],"id":"e3a12336-9b12-49fc-ae99-6d41a66fbe26","name":"log message in bubble2","credentials":{"bubbleApi":{"id":"AYXWKQxjByw1gY7W","name":"Bubble account"}}},{"parameters":{"operation":"create","typeName":"🤖 sessions","properties":{"property":[{"key":"owner","value":"={{ $('Get user parameters').item.json.response['user ID'] }}"},{"key":"inbox ID","value":"={{ $('Webhook1').item.json.body.conversation.messages[0].inbox_id }}"},{"key":"conversation ID","value":"={{ $('Webhook1').item.json.body.conversation.messages[0].conversation_id }}"},{"key":"account ID","value":"={{ $('Webhook1').item.json.body.conversation.messages[0].account_id }}"},{"key":"escalated","value":"yes"},{"key":"billable","value":"no"},{"key":"closed","value":"yes"}]}},"type":"n8n-nodes-base.bubble","typeVersion":1,"position":[6896,-576],"id":"8c10647c-3aa4-4eaa-8c5d-13fa097e58e1","name":"Create session1","credentials":{"bubbleApi":{"id":"AYXWKQxjByw1gY7W","name":"Bubble account"}}},{"parameters":{"operation":"create","typeName":"🤖 messages","properties":{"property":[{"key":"1 user input ","value":"={{ $('Webhook1').item.json.body.conversation.messages[0].content }}"},{"key":"2 agent output","value":"={{ $('escalation agent').item.json.output.resume }}"},{"key":"owner ","value":"={{ $('Get user parameters').item.json.response['user ID'] }}"},{"key":"chat account ID ","value":"={{ $('Webhook1').item.json.body.account.id }}"},{"key":"chat conversation ID","value":"={{ $('Webhook1').item.json.body.conversation.messages[0].conversation_id }}"},{"key":"chat inbox ID","value":"={{ $('Webhook1').item.json.body.conversation.contact_inbox.inbox_id }}"},{"key":"4 escalation","value":"={{ $('Code in JavaScript').item.json.activeItem._id }}"},{"key":"session","value":"={{ $('Get user parameters').item.json.response['last session']._id }}"}]}},"type":"n8n-nodes-base.bubble","typeVersion":1,"position":[6896,-368],"id":"f253f59b-b9e0-4ca6-8d5e-b1f822aba928","name":"log message in bubble3","credentials":{"bubbleApi":{"id":"AYXWKQxjByw1gY7W","name":"Bubble account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a879e0d1-ebdc-4735-b03e-07e7dac9dfb8","leftValue":"={{ Date.now() - $('Get user parameters').item.json.response['last message']['Created Date'] }}","rightValue":300000,"operator":{"type":"number","operation":"gt"}},{"id":"9eeca0b9-e01c-4094-be93-634550b268c1","leftValue":"={{ $('Get user parameters').item.json.response['last message'] }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[6368,-464],"id":"98e069a6-39eb-4e0c-9382-31496f0769bf","name":"is new session1"},{"parameters":{"resource":"Conversation Assignment","operation":"Assign A Conversation","account_id":"={{ $('Webhook1').item.json.body.account.id }}","conversation_id":"={{ $('Webhook1').item.json.body.conversation.id }}","assignee_id":"={{ $('Get user parameters').item.json.response['User chat id'] }}","requestOptions":{}},"type":"@devlikeapro/n8n-nodes-chatwoot.chatWoot","typeVersion":1,"position":[5792,-464],"id":"d6bec31c-69e1-4924-aed5-c1c7994fc17b","name":"Assign Conversation","credentials":{"chatwootApi":{"id":"iQ2KMdnP3Z3u7ENV","name":"ChatWoot admin token"}}},{"parameters":{"resource":"Messages","operation":"Create A New Message In A Conversation","account_id":"={{ $('Webhook1').item.json.body.account.id }}","conversation_id":"={{ $('Webhook1').item.json.body.conversation.messages[0].conversation_id }}","content":"={{ $('escalation agent').item.json.output.resume }}","content_type":"={{ null }}","content_attributes":"={} ","requestOptions":{}},"type":"@devlikeapro/n8n-nodes-chatwoot.chatWoot","typeVersion":1,"position":[6064,-464],"id":"0c3c30b7-93c6-4588-9a9c-ad5bce3926e2","name":"Create New Message1","credentials":{"chatwootApi":{"id":"iQ2KMdnP3Z3u7ENV","name":"ChatWoot admin token"}}},{"parameters":{"operation":"update","typeName":"🤖 sessions","objectId":"={{ $('Get user parameters').item.json.response['last session']._id }}","properties":{"property":[{"key":"escalated","value":"yes"},{"key":"AI reason ","value":"={{ $('escalation agent').item.json.output.resume }}"},{"key":"billable","value":"no"},{"key":"closed","value":"yes"}]}},"type":"n8n-nodes-base.bubble","typeVersion":1,"position":[7104,-368],"id":"25565621-efc3-4919-8404-bdf5ff61fe57","name":"Update an object","credentials":{"bubbleApi":{"id":"AYXWKQxjByw1gY7W","name":"Bubble account"}}},{"parameters":{"jsCode":"// Récupérer les paramètres du node \"Get user parameters\"\nconst params = $('Get user parameters').first().json.response || {};\n\n// Extraire listes\nconst playbooks = params.playbooks || [];\nconst escalations = params.escalation_rules || [];\n\n// Récupérer l'output du routing agent\nconst routed = $input.first().json.output || {};\nconst activeType = routed.type;\nconst activeId = routed.id;\n\n// Variables\nlet activeItem = null;\n\n// LOGIQUE DE RÉCUPÉRATION\nif (activeType === \"scenario\") {\n  activeItem = playbooks.find(pb => pb._id === activeId);\n} else if (activeType === \"escalation\") {\n  activeItem = escalations.find(er => er._id === activeId);\n}\n\n// Si introuvable → fallback\nif (!activeItem) {\n  return [\n    {\n      json: {\n        activeType,\n        activeId,\n        activeItem: null,\n        activeText: `❌ Aucun ${activeType} trouvé pour l'ID : ${activeId}`\n      }\n    }\n  ];\n}\n\n// FORMATAGE\nlet cleanText = \"\";\n\nif (activeType === \"scenario\") {\n  cleanText = `\n### Scenario\n**ID:** ${activeId}\n**Title:** ${activeItem.title}\n**Audience:** ${activeItem.audience || \"N/A\"}\n**Content:** ${activeItem.content || \"N/A\"}\n**Rules:** ${activeItem.rules || \"N/A\"}\n  `.trim();\n}\n\nif (activeType === \"escalation\") {\n  cleanText = `\n### Escalation\n**ID:** ${activeId}\n**Title:** ${activeItem.title}\n**Trigger:** ${activeItem.trigger || \"N/A\"}\n**Audience:** ${activeItem.audience || \"N/A\"}\n**Rules:** ${activeItem.rules || \"N/A\"}\n  `.trim();\n}\n\n// OUTPUT FINAL\nreturn [\n  {\n    json: {\n      activeType,\n      activeId,\n      activeItem,\n      activeText: cleanText\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3648,272],"id":"b9a25712-d061-40b8-9676-303b93afe572","name":"Load playbook"},{"parameters":{"typeName":"Tool","objectId":"={{ $json.activeItem?.tool ?? null }}\n"},"type":"n8n-nodes-base.bubble","typeVersion":1,"position":[4064,272],"id":"e38460ce-31d1-42c2-b97e-7e59851e5a95","name":"Load tool","credentials":{"bubbleApi":{"id":"AYXWKQxjByw1gY7W","name":"Bubble account"}},"onError":"continueRegularOutput"},{"parameters":{"toolDescription":"={{ $json.description }}","method":"={{ $json.method }}","url":"={{ $json.URL }}","sendQuery":true,"specifyQuery":"json","jsonQuery":"={{ $json['query parameters'] }}","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"={{ $json.header }}","sendBody":true,"specifyBody":"json","jsonBody":"={{ $fromAI('body', 'Generate JSON matching this schema: ' + $('Load tool').item.json['body shema'], 'json') }}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[4752,560],"id":"7324d442-1ce3-4adc-9801-f408ca37413a","name":"API call"},{"parameters":{"resource":"Agent Bots","operation":"List All Agent Bots","requestOptions":{}},"type":"@devlikeapro/n8n-nodes-chatwoot.chatWoot","typeVersion":1,"position":[6560,624],"id":"89b65f19-c3d2-40b0-8190-f2ca4ab07299","name":"List all AgentBots","credentials":{"chatwootApi":{"id":"iQ2KMdnP3Z3u7ENV","name":"ChatWoot admin token"}}},{"parameters":{"method":"POST","url":"=https://chat.cardynal.io/api/v1/accounts/{{ $('Webhook1').item.json.body.account.id }}/conversations/{{ $('Webhook1').item.json.body.conversation.messages[0].conversation_id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Get user parameters').item.json.response['agent token'] }}"},{"name":"Content-Type","value":"={{null}}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"content","value":"={{ $('If').item.json.output }}"},{"name":"sender_type","value":"agent_bot"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5760,368],"id":"7a53b25c-6b00-4d10-bde1-efff4005a919","name":"chatwoot - send message with audio file2"},{"parameters":{"method":"POST","url":"=https://chat.cardynal.io/api/v1/accounts/{{ $('Webhook1').item.json.body.account.id }}/conversations/{{ $('Webhook1').item.json.body.conversation.messages[0].conversation_id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Get user parameters').item.json.response['agent token'] }}"},{"name":"Content-Type","value":"={{null}}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"content","value":"={{ $json.output.reponse }}"},{"name":"sender_type","value":"agent_bot"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5520,-464],"id":"8860eac1-de50-43f0-a099-9c0299bc850c","name":"chatwoot - send message with audio file3"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Playbook agent","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Knowledge base","type":"ai_embedding","index":0}]]},"If":{"main":[[{"node":"chatwoot - send message with audio file2","type":"main","index":0}],[{"node":"Open AI - generate audio","type":"main","index":0}]]},"Open AI - generate audio":{"main":[[{"node":"chatwoot - send message with audio file","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"If incoming","type":"main","index":0}]]},"If incoming":{"main":[[{"node":"Get user parameters","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Playbook agent","type":"ai_memory","index":0}]]},"Knowledge base":{"ai_tool":[[{"node":"Playbook agent","type":"ai_tool","index":0}]]},"Get user parameters":{"main":[[{"node":"Load playbooks","type":"main","index":0}]]},"Routing agent":{"main":[[{"node":"Switch","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Routing agent","type":"ai_languageModel","index":0}]]},"Simple Memory1":{"ai_memory":[[]]},"chatwoot - send message with audio file":{"main":[[]]},"Create New Message2":{"main":[[{"node":"is new session","type":"main","index":0}]]},"Load playbooks":{"main":[[{"node":"Routing agent","type":"main","index":0}]]},"Create session":{"main":[[{"node":"log message in bubble","type":"main","index":0}]]},"is new session":{"main":[[{"node":"Create session","type":"main","index":0}],[{"node":"log message in bubble1","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Routing agent","type":"ai_outputParser","index":0}]]},"Switch":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}],[{"node":"Load playbook","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"escalation agent","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"escalation agent","type":"ai_languageModel","index":0}]]},"Simple Memory2":{"ai_memory":[[{"node":"escalation agent","type":"ai_memory","index":0}]]},"Playbook agent":{"main":[[{"node":"If","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"escalation agent","type":"ai_outputParser","index":0}]]},"escalation agent":{"main":[[{"node":"If1","type":"main","index":0}]]},"Create New Message":{"main":[[{"node":"Assign Conversation","type":"main","index":0}]]},"If1":{"main":[[{"node":"chatwoot - send message with audio file3","type":"main","index":0}],[{"node":"Open AI - generate audio1","type":"main","index":0}]]},"Open AI - generate audio1":{"main":[[{"node":"chatwoot - send message with audio file1","type":"main","index":0}]]},"Create session1":{"main":[[{"node":"log message in bubble2","type":"main","index":0}]]},"is new session1":{"main":[[{"node":"Create session1","type":"main","index":0}],[{"node":"log message in bubble3","type":"main","index":0}]]},"Assign Conversation":{"main":[[{"node":"is new session1","type":"main","index":0},{"node":"Create New Message1","type":"main","index":0}]]},"Create New Message1":{"main":[[{"node":"is new session1","type":"main","index":0}]]},"log message in bubble3":{"main":[[{"node":"Update an object","type":"main","index":0}]]},"Load playbook":{"main":[[{"node":"Load tool","type":"main","index":0}]]},"Load tool":{"main":[[{"node":"Playbook agent","type":"main","index":0}]]},"API call":{"ai_tool":[[{"node":"Playbook agent","type":"ai_tool","index":0}]]},"List all AgentBots":{"main":[[]]},"chatwoot - send message with audio file2":{"main":[[{"node":"is new session","type":"main","index":0}]]},"chatwoot - send message with audio file3":{"main":[[{"node":"Assign Conversation","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook1":[{"json":{"headers":{"host":"api.cardynal.io","user-agent":"rest-client/2.1.0 (linux-musl x86_64) ruby/3.4.4p34","content-length":"2750","accept":"application/json","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"208.77.244.74","cf-ipcountry":"NL","cf-ray":"9c5986cfef0a339e-AMS","cf-visitor":"{\"scheme\":\"https\"}","content-type":"application/json","via":"1.1 Caddy","x-forwarded-for":"100.64.0.7","x-forwarded-host":"api.cardynal.io","x-forwarded-proto":"http","x-railway-edge":"railway/europe-west4-drams3a","x-railway-request-id":"Ke_xaZkERyme6sGmm3z_FQ","x-real-ip":"104.23.172.49","x-request-start":"1769698065923"},"params":{},"query":{},"body":{"account":{"id":8,"name":"Cardynal AI"},"additional_attributes":{},"content_attributes":{"in_reply_to":null},"content_type":"text","content":"<p>0545336790</p>\n","conversation":{"additional_attributes":{"browser":{"device_name":"Unknown","browser_name":"Chrome","platform_name":"Windows","browser_version":"143.0.0.0","platform_version":"10.0"},"referer":"https://cardynal.io/","initiated_at":{"timestamp":"Wed Jan 28 2026 16:13:48 GMT+0200 (Israel Standard Time)"},"browser_language":"en"},"can_reply":true,"channel":"Channel::WebWidget","contact_inbox":{"id":1155,"contact_id":1156,"inbox_id":11,"source_id":"06881de9-6049-457d-8180-daf40cd0e908","created_at":"2026-01-28T14:09:30.893Z","updated_at":"2026-01-28T14:09:30.893Z","hmac_verified":false,"pubsub_token":"ZPk78EJR8J2WAMsejZ6QNWyU"},"id":51,"inbox_id":11,"messages":[{"id":1392,"content":"0545336790","account_id":8,"inbox_id":11,"conversation_id":51,"message_type":0,"created_at":1769698065,"updated_at":"2026-01-29T14:47:45.774Z","private":false,"status":"sent","source_id":null,"content_type":"text","content_attributes":{"in_reply_to":null},"sender_type":"Contact","sender_id":1156,"external_source_ids":{},"additional_attributes":{},"processed_message_content":"0545336790","sentiment":{},"conversation":{"assignee_id":null,"unread_count":10,"last_activity_at":1769698065,"contact_inbox":{"source_id":"06881de9-6049-457d-8180-daf40cd0e908"}},"sender":{"additional_attributes":{"created_at_ip":"172.70.200.173"},"custom_attributes":{},"email":null,"id":1156,"identifier":null,"name":"falling-smoke-827","phone_number":null,"thumbnail":"","blocked":false,"type":"contact"}}],"labels":[],"meta":{"sender":{"additional_attributes":{"created_at_ip":"172.70.200.173"},"custom_attributes":{},"email":null,"id":1156,"identifier":null,"name":"falling-smoke-827","phone_number":null,"thumbnail":"","blocked":false,"type":"contact"},"assignee":null,"assignee_type":null,"team":null,"hmac_verified":false},"status":"pending","custom_attributes":{},"snoozed_until":null,"unread_count":10,"first_reply_created_at":null,"priority":null,"waiting_since":1769609626,"agent_last_seen_at":1769609852,"contact_last_seen_at":1769698061,"last_activity_at":1769698065,"timestamp":1769698065,"created_at":1769609626,"updated_at":1769698065.7767878},"created_at":"2026-01-29T14:47:45.774Z","id":1392,"inbox":{"id":11,"name":"Cardynal.io"},"message_type":"incoming","private":false,"sender":{"account":{"id":8,"name":"Cardynal AI"},"additional_attributes":{"created_at_ip":"172.70.200.173"},"avatar":"","custom_attributes":{},"email":null,"id":1156,"identifier":null,"name":"falling-smoke-827","phone_number":null,"thumbnail":"","blocked":false},"source_id":null,"event":"message_created"},"webhookUrl":"https://api.cardynal.io/webhook/41a26357-ea93-48e2-bbff-8678ac92fad7","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"e8f7ec1d-3b47-4412-9c6b-2ccb7fc94a8b","activeVersionId":"e8f7ec1d-3b47-4412-9c6b-2ccb7fc94a8b","versionCounter":175,"triggerCount":1,"shared":[{"updatedAt":"2025-12-11T12:27:57.968Z","createdAt":"2025-12-11T12:27:57.968Z","role":"workflow:owner","workflowId":"KaXPranNfRh0GvQQ","projectId":"DqPDC4tuv3DThGLm","project":{"updatedAt":"2025-12-09T12:55:01.738Z","createdAt":"2025-12-09T11:17:38.146Z","id":"DqPDC4tuv3DThGLm","name":"aaron attias <a@cardynal.io>","type":"personal","icon":null,"description":null,"creatorId":"ac2f86bd-9283-4be5-a1f6-7e9bfa22c219","projectRelations":[{"updatedAt":"2025-12-09T11:17:38.146Z","createdAt":"2025-12-09T11:17:38.146Z","userId":"ac2f86bd-9283-4be5-a1f6-7e9bfa22c219","projectId":"DqPDC4tuv3DThGLm","user":{"updatedAt":"2026-01-29T12:51:03.673Z","createdAt":"2025-12-09T11:17:36.814Z","id":"ac2f86bd-9283-4be5-a1f6-7e9bfa22c219","email":"a@cardynal.io","firstName":"aaron","lastName":"attias","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-09T12:55:26.470Z","personalization_survey_n8n_version":"1.123.4","companySize":"<20","companyType":"systems-integrator","role":"business-owner","reportedSource":"friend"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"qk9en5K0UqXhFrCQkdjL2","userActivatedAt":1769556709245,"easyAIWorkflowOnboarded":true,"npsSurvey":{"responded":true,"lastShownAt":1768483432887}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-29","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-01-15T13:42:05.863Z","createdAt":"2026-01-15T13:23:52.431Z","versionId":"e8f7ec1d-3b47-4412-9c6b-2ccb7fc94a8b","workflowId":"KaXPranNfRh0GvQQ","nodes":[{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[4432,560],"id":"091d7de8-7748-48a2-932e-18e79c3735df","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"w72DejHyJvEemirH","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[4880,736],"id":"54398f11-2c6a-4401-8b8a-48e9222de75f","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"w72DejHyJvEemirH","name":"OpenAi account"}}},{"parameters":{"resource":"Messages","operation":"Create A New Message In A Conversation","account_id":"={{ $('Webhook1').item.json.body.account.id }}","conversation_id":"={{ $('Webhook1').item.json.body.conversation.messages[0].conversation_id }}","content":"={{ $json.output }}","private":false,"content_type":"={{null}}","content_attributes":"={} ","template_params":"{\n  \"name\": \"sample_issue_resolution\",\n  \"category\": \"UTILITY\",\n  \"sender_type\": \"agent_bot\",\n  \"agent_id\": 7,\n  \"language\": \"en_US\",\n  \"processed_params\": {\n    \"1\": \"Chatwoot\"\n  }\n}","requestOptions":{}},"type":"@devlikeapro/n8n-nodes-chatwoot.chatWoot","typeVersion":1,"position":[6064,112],"id":"9e32fb8e-30d3-44bd-8110-148dd62fe1dd","name":"Create New Message2","credentials":{"chatwootApi":{"id":"iQ2KMdnP3Z3u7ENV","name":"ChatWoot admin token"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"444007aa-0968-4c02-a247-9a9245a3f795","leftValue":"={{ $('Webhook1').item.json.body.conversation.messages[0].attachments[0].file_type }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5376,528],"id":"b83afe15-d022-495e-ba59-5fdb65427ec6","name":"If"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/audio/speech","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"gpt-4o-mini-tts"},{"name":"input","value":"={{ $json.output }}"},{"name":"voice","value":"alloy"},{"name":"instructions","value":" Voice: Clear, warm, welcoming and professional. accent: hebrew"}]},"options":{"redirect":{"redirect":{}},"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5744,656],"id":"439cd83f-0eda-4e41-b76f-2bb09b98d213","name":"Open AI - generate audio","credentials":{"openAiApi":{"id":"w72DejHyJvEemirH","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"=https://chatwoot-production-934a.up.railway.app/api/v1/accounts/{{ $('Webhook1').item.json.body.account.id }}/conversations/{{ $('Webhook1').item.json.body.conversation.messages[0].conversation_id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"GQbD13Yk6zEmebcUtGDhkW9Z"},{"name":"Content-Type","value":"multipart/form-data; boundary=----WebKitFormBoundary"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"attachments[]","inputDataFieldName":"=data"},{"name":"message_type","value":"outgoing"},{"name":"file_type","value":"audio"},{"name":"content","value":"={{ $('If').item.json.output }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6032,656],"id":"bdb2ca67-de78-447a-8313-5875b11f2ccc","name":"chatwoot - send message with audio file"},{"parameters":{"httpMethod":"POST","path":"41a26357-ea93-48e2-bbff-8678ac92fad7","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[880,-64],"id":"f1bacc7f-a8d5-4a0b-8ab7-08ff3206ec16","name":"Webhook1","webhookId":"41a26357-ea93-48e2-bbff-8678ac92fad7"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"017fc782-da70-4bd7-86e2-bebb1980e095","leftValue":"={{ $json.body.message_type }}","rightValue":"incoming","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"39cdf9dc-2ea6-4b42-838e-4b48eab10a02","leftValue":"={{ $json.body.conversation.messages[0].content }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"12534e5a-ba25-44f3-aecb-827f9f1e77e4","leftValue":"={{ $json.body.conversation.status }}","rightValue":"open","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1040,-64],"id":"fe417f59-b6a8-4768-b704-c727ea5c749e","name":"If incoming"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook1').item.json.body.sender.account.id }}x{{ $('Webhook1').item.json.body.conversation.messages[0].conversation_id }}x{{ $('Get user parameters').item.json.response['user ID'] }}","contextWindowLength":"=10"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[4608,560],"id":"f7c35f5c-79af-49da-a9e7-4f995f864a0e","name":"Simple Memory"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Search the company knowledge base to answer user questions. Contains product information, policies, procedures, FAQs, and support documentation. Use this tool before saying you don't have information. Query with specific keywords from the user's question.","tableName":{"__rl":true,"value":"vector_store","mode":"list","cachedResultName":"vector_store"},"options":{"metadata":{"metadataValues":[{"name":"user_ID","value":"={{ $('Get user parameters').item.json.response['user ID'] }}"}]}}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[4880,560],"id":"b14087b3-10d4-491e-8034-b9e2bc4af978","name":"Knowledge base","credentials":{"supabaseApi":{"id":"tQMGMR567EpxcMjf","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"https://app.cardynal.io/version-test/api/1.1/wf/get-chat-parameters","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"account","value":"={{ $('Webhook1').item.json.body.account.id }}"},{"name":"conversation","value":"={{ $('Webhook1').item.json.body.conversation.messages[0].conversation_id }}"},{"name":"inbox","value":"={{ $('Webhook1').item.json.body.conversation.messages[0].inbox_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1520,-80],"id":"dbe8b05e-728b-47bf-9302-93303bb106b5","name":"Get user parameters","credentials":{"httpBearerAuth":{"id":"BregUFrc5L7fmMUT","name":"Bubble"}}},{"parameters":{"promptType":"define","text":"={{ $('Webhook1').item.json.body.conversation.messages[0].processed_message_content }}","hasOutputParser":true,"options":{"systemMessage":"=You are the Routing Agent.\n\nYour task is to analyze the user's message WITH CONVERSATION CONTEXT and classify it into one of two categories:\n\n1️⃣ Escalation → if ANY escalation rule matches\n2️⃣ Scenario → if an existing playbook is appropriate\n\nYou must ALWAYS return a JSON object with the following structure as output:\n\n{\n  \"type\": \"escalation\" | \"scenario\",\n  \"id\": \"<_id>\"\n}\n\nOutput must ALWAYS be valid JSON. Never answer or continue the conversation.\n\n---\n\n# RULES\n\n- Use the CONVERSATION HISTORY to understand context (e.g., if user says \"oui\" or gives an email, check what was asked before)\n- If ANY escalation rule matches the user message → return `\"type\": \"escalation\"` and the matching escalation `_id`\n- If NO escalation rule matches → select the MOST relevant playbook and return `\"type\": \"scenario\"` + the `_id`\n- If multiple playbooks match → choose the MOST specific scenario\n- If conversation is already in progress with a playbook, CONTINUE with that same playbook unless escalation is triggered\n- NEVER return multiple playbooks\n- NEVER return `null`\n- NEVER omit `\"id\"`\n- NEVER output text outside JSON\n- NEVER explain your reasoning\n\n---\n\n# CONVERSATION HISTORY\n{{ $json.conversation_history }}\n\n---\n\n# PLAYBOOKS\n{{ $json.playbooks_text }}\n\n---\n\n# ESCALATION RULES\n{{ $json.escalation_rules_text }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[2496,-80],"id":"e8143fd3-5cb8-4def-9b13-72e284a9754c","name":"Routing agent","executeOnce":true},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[2432,192],"id":"75dbeed4-22a2-4ccc-9db9-ed99fc583b14","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"w72DejHyJvEemirH","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook1').item.json.body.sender.account.id }}x{{ $('Webhook1').item.json.body.conversation.messages[0].conversation_id }}x{{ $('Get user parameters').item.json.response['user ID'] }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[2592,192],"id":"c553f650-1095-468f-b50d-4c24feb7f205","name":"Simple Memory1"},{"parameters":{"sendHeaders":true,"specifyHeaders":"json","sendBody":true,"specifyBody":"json","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2368,544],"id":"2d3bb75f-2883-4fe7-9ab1-95f52f6ef756","name":"HTTP Request"},{"parameters":{"operation":"create","typeName":"🤖 messages","properties":{"property":[{"key":"1 user input ","value":"={{ $('Webhook1').item.json.body.conversation.messages[0].content }}"},{"key":"2 agent output","value":"={{ $('Playbook agent').item.json.output }}"},{"key":"owner ","value":"={{ $('Get user parameters').item.json.response['user ID'] }}"},{"key":"chat account ID ","value":"={{ $('Webhook1').item.json.body.account.id }}"},{"key":"chat conversation ID","value":"={{ $('Webhook1').item.json.body.conversation.messages[0].conversation_id }}"},{"key":"chat inbox ID","value":"={{ $('Webhook1').item.json.body.conversation.contact_inbox.inbox_id }}"},{"key":"3 playbook used","value":"={{ $('Load playbook').item.json.activeItem._id }}"},{"key":"session","value":"={{ $json.id }}"}]}},"type":"n8n-nodes-base.bubble","typeVersion":1,"position":[7104,256],"id":"c1b571fa-42d3-43d3-88cb-ab688fb29129","name":"log message in bubble","credentials":{"bubbleApi":{"id":"AYXWKQxjByw1gY7W","name":"Bubble account"}}},{"parameters":{"jsCode":"// Récupère playbooks & escalations\nconst playbooks = items[0].json.response.playbooks || [];\nconst escalations = items[0].json.response[\"escalations rules\"] || [];\nconst history = items[0].json.response[\"conversation historique\"] || [];\n\n// BUILD PLAYBOOKS TEXT\nlet playbooksOutput = \"PLAYBOOKS:\\n\\n\";\nfor (const pb of playbooks) {\n  playbooksOutput += `ID: ${pb._id}\\n`;\n  playbooksOutput += `Title: ${pb.title}\\n`;\n  if (pb.audience) playbooksOutput += `Audience: ${pb.audience}\\n`;\n  if (pb.rules) playbooksOutput += `Rules: ${pb.rules}\\n`;\n  playbooksOutput += `Enabled: ${pb.enabled}\\n\\n---\\n\\n`;\n}\n\n// BUILD ESCALATION RULES TEXT\nlet escalationOutput = \"ESCALATION RULES:\\n\\n\";\nfor (const esc of escalations) {\n  escalationOutput += `ID: ${esc._id}\\n`;\n  escalationOutput += `Title: ${esc.title}\\n`;\n  if (esc.audience) escalationOutput += `Audience: ${esc.audience}\\n`;\n  if (esc.trigger) escalationOutput += `Trigger: ${esc.trigger}\\n`;\n  if (esc.rules) escalationOutput += `Rules: ${esc.rules}\\n`;\n  escalationOutput += `Enabled: ${esc.enabled}\\n\\n---\\n\\n`;\n}\n\n// BUILD CONVERSATION HISTORY (ordre chronologique)\nlet historyOutput = \"\";\nconst sortedHistory = history.sort((a, b) => a[\"Created Date\"] - b[\"Created Date\"]);\n\nfor (const msg of sortedHistory) {\n  historyOutput += `Human: ${msg[\"1 user input \"]?.trim() || \"\"}\\n`;\n  historyOutput += `AI: ${msg[\"2 agent output\"]?.trim() || \"\"}\\n`;\n}\n\n// RETURN\nreturn [\n  {\n    json: {\n      playbooks_text: playbooksOutput,\n      escalation_rules_text: escalationOutput,\n      conversation_history: historyOutput\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2096,-80],"id":"12447b0d-c8ac-40db-b0b9-558632cdd339","name":"Load playbooks"},{"parameters":{"operation":"create","typeName":"🤖 sessions","properties":{"property":[{"key":"owner","value":"={{ $('Get user parameters').item.json.response['user ID'] }}"},{"key":"inbox ID","value":"={{ $('Webhook1').item.json.body.conversation.messages[0].inbox_id }}"},{"key":"conversation ID","value":"={{ $('Webhook1').item.json.body.conversation.messages[0].conversation_id }}"},{"key":"account ID","value":"={{ $('Webhook1').item.json.body.conversation.messages[0].account_id }}"}]}},"type":"n8n-nodes-base.bubble","typeVersion":1,"position":[6832,256],"id":"1bd4da88-5361-4fe3-b8d7-8428d0876162","name":"Create session","credentials":{"bubbleApi":{"id":"AYXWKQxjByw1gY7W","name":"Bubble account"}}},{"parameters":{"operation":"create","typeName":"🤖 messages","properties":{"property":[{"key":"1 user input ","value":"={{ $('Webhook1').item.json.body.conversation.messages[0].content }}"},{"key":"2 agent output","value":"={{ $('Playbook agent').item.json.output }}"},{"key":"owner ","value":"={{ $('Get user parameters').item.json.response['user ID'] }}"},{"key":"chat account ID ","value":"={{ $('Webhook1').item.json.body.account.id }}"},{"key":"chat conversation ID","value":"={{ $('Webhook1').item.json.body.conversation.messages[0].conversation_id }}"},{"key":"chat inbox ID","value":"={{ $('Webhook1').item.json.body.conversation.contact_inbox.inbox_id }}"},{"key":"3 playbook used","value":"={{ $('Load playbook').item.json.activeId }}"},{"key":"session","value":"={{ $('Get user parameters').item.json.response['last session']._id }}"}]}},"type":"n8n-nodes-base.bubble","typeVersion":1,"position":[7104,448],"id":"9222f8d8-d903-4b1f-bd2f-d2e620256c8b","name":"log message in bubble1","credentials":{"bubbleApi":{"id":"AYXWKQxjByw1gY7W","name":"Bubble account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a879e0d1-ebdc-4735-b03e-07e7dac9dfb8","leftValue":"={{ Date.now() - $('Get user parameters').item.json.response['last message']['Created Date'] }}","rightValue":300000,"operator":{"type":"number","operation":"gt"}},{"id":"9eeca0b9-e01c-4094-be93-634550b268c1","leftValue":"={{ $('Get user parameters').item.json.response['last message'] }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[6336,368],"id":"4b20b472-db95-43c6-af18-ebf2f93cadc2","name":"is new session"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"\",\n  \"id\": \"\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[2752,192],"id":"8fde6eb6-b75c-49ed-9d37-28cab0361b76","name":"Structured Output Parser"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.output.type }}","rightValue":"escalation","operator":{"type":"string","operation":"equals"},"id":"98c6af5a-8a3a-4e7c-9c07-efe9eb5558d5"}],"combinator":"and"},"renameOutput":true,"outputKey":"escalation"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"d16e0d46-8a9b-4d92-875c-6de9838f69f7","leftValue":"={{ $json.output.type }}","rightValue":"scenario","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"scenario"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[2992,-80],"id":"1acf8788-d919-4fb3-9f1c-c3ef93572d3c","name":"Switch"},{"parameters":{"jsCode":"const params = $('Get user parameters').first().json.response;\nconst escalationRules = params[\"escalations rules\"] || [];\nconst routingOutput = $('Routing agent').first().json.output;\nconst activeId = routingOutput.id || null;\n\nlet activeItem = null;\n\nfor (let i = 0; i < escalationRules.length; i++) {\n  if (escalationRules[i]._id === activeId) {\n    activeItem = escalationRules[i];\n    break;\n  }\n}\n\nreturn [\n  {\n    json: {\n      activeType: \"escalation\",\n      activeId: activeId,\n      activeItem: activeItem || {},\n      activeText: activeItem ? activeItem.title : \"Not found\"\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3888,-240],"id":"ae3d90e5-f441-4006-9598-b45090cf8313","name":"Code in JavaScript"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[4272,-32],"id":"872d02ab-8844-40b1-89e7-0815b6aca354","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"w72DejHyJvEemirH","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook1').item.json.body.sender.account.id }}x{{ $('Webhook1').item.json.body.conversation.messages[0].conversation_id }}x{{ $('Get user parameters').item.json.response['user ID'] }}","contextWindowLength":"=10"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[4496,-32],"id":"22cd09f0-3225-4bcb-9973-45e2b37c3332","name":"Simple Memory2"},{"parameters":{"promptType":"define","text":"={{ $('Webhook1').item.json.body.conversation.messages[0].processed_message_content }}","options":{"systemMessage":"=# Identity\nYou are {{ $('Get user parameters').item.json.response.agent.Name }}.\n\n# Global Instructions\n{{ $('Get user parameters').item.json.response.agent.Prompt }}\n\nYour mission is to respond STRICTLY according to the ACTIVE PLAYBOOK provided in the user message context.\n\nYou must:\n- Follow the playbook’s scenario and rules with absolute priority.\n- Adapt tone and length according to the user parameters.\n- Never contradict or go outside the playbook.\n- Never invent rules or features.\n- Never mention that you are following a playbook.\n\n# Tone Configuration\nPrimary tone: {{ $('Get user parameters').item.json.response.agent.tone }}\nSecondary tone instructions: {{ $('Get user parameters').item.json.response.tone }}\n\n# Length Configuration\n{{ $('Get user parameters').item.json.response.lenght }}\n\n# Knowledge Base Usage\nYou are allowed to use the Knowledge Base node if connected.\n\nRules:\n- Search the knowledge base before saying you don't know.\n- Base your answers strictly on retrieved information.\n- If the search returns no result, say it transparently.\n- Do not invent facts.\n- You may quote or paraphrase the source.\n- If information is partial, answer what you can and mention the gap.\n\n# Playbook Priority\nWhen a playbook is active, it overrides:\n- general behavior rules,\n- tone defaults,\n- knowledge base fallback,\n- normal conversation flows.\n\nYour answer MUST reflect the scenario and rules of the active playbook.\n\n# Output Format\nWrite a natural-sounding assistant response.\nDo NOT output JSON.\nDo NOT mention system settings.\nDo NOT mention agent parameters.\nDo NOT mention the existence of playbooks.\nDo NOT include meta commentary.\n\nFocus only on giving the user the best next action according to the ACTIVE PLAYBOOK.\n\n#ACTIVE PLAYBOOK:{{ $('Load playbook').item.json.activeItem.title }}\n- Playbook audience: {{ $('Load playbook').item.json.activeItem.audience }}\n- playbook scenario: {{ $('Load playbook').item.json.activeItem.content }}\n- playbook rules and guidelines: {{ $('Load playbook').item.json.activeItem.rules }}","enableStreaming":false}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[4640,272],"id":"2fa2a8ec-0b22-4226-bcf1-3cd076a58130","name":"Playbook agent"},{"parameters":{"promptType":"define","text":"={{ $('Webhook1').item.json.body.conversation.messages[0].processed_message_content }}","hasOutputParser":true,"options":{"systemMessage":"=You are the **Escalation Agent**.\n\nYour purpose is to respond politely to the user while clearly acknowledging the problem and escalating it to a human operator.\n\nYou must always:\n\n* avoid giving technical details or speculative fixes\n* avoid committing to deadlines or promises\n* clarify the issue if necessary, briefly\n* reassure the user and explain that the technical team will intervene\n\n---\n\n### **Dynamic context**\n\n* **Escalation ID:** `{{ $json.activeId }}`\n* **Title:** `{{ $json.activeItem.title }}`\n* **Audience:** `{{ $json.activeItem.audience }}`\n* **Trigger:**\n  `{{ $json.activeItem.trigger }}`\n* **Rules:**\n  `{{ $json.activeItem.rules }}`\n\nFull escalation metadata:\n\n```\n{{ $json.activeText }}\n```\n\nUser message requiring escalation:\n\n```\n{{ $('Webhook1').item.json.body.conversation.messages[0].processed_message_content }}\n```\n\n---\n\n### **Expected output format (STRICT)**\n\nRespond only in JSON:\n\n```\n{\n  \"reponse\": \"<message destiné à l'utilisateur>\",\n  \"resume\": \"<résumé de la situation destiné à l'agent humain>\"\n}\n```\n\nWhere:\n\n* `reponse` → courte, empathique, sans détails techniques\n* `resume` → claire explication du problème, contexte, sévérité éventuelle\n\nNo markdown, no additional text outside JSON.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[4448,-240],"id":"91c3aa0b-ac28-4724-8275-e2f7dddc1ca9","name":"escalation agent"},{"parameters":{"jsonSchemaExample":"{ \n  \"reponse\": \"\", \n  \"resume\": \"\" }"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[4688,-32],"id":"d9a80809-b9e4-40d6-a9bb-e61f0216703b","name":"Structured Output Parser1"},{"parameters":{"resource":"Messages","operation":"Create A New Message In A Conversation","account_id":"={{ $('Webhook1').item.json.body.account.id }}","conversation_id":"={{ $('Webhook1').item.json.body.conversation.messages[0].conversation_id }}","content":"={{ $json.output.reponse }}","private":false,"content_type":"={{ null }}","content_attributes":"={} ","requestOptions":{}},"type":"@devlikeapro/n8n-nodes-chatwoot.chatWoot","typeVersion":1,"position":[5552,-800],"id":"f08b95b4-eaa6-4ad7-b6aa-cf2be510fbfa","name":"Create New Message","credentials":{"chatwootApi":{"id":"iQ2KMdnP3Z3u7ENV","name":"ChatWoot admin token"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"444007aa-0968-4c02-a247-9a9245a3f795","leftValue":"={{ $('Webhook1').item.json.body.conversation.messages[0].attachments[0].file_type }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5104,-304],"id":"3ea2f1fb-94ab-40ae-af42-7b3347edd9ef","name":"If1"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/audio/speech","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"gpt-4o-mini-tts"},{"name":"input","value":"={{ $json.output }}"},{"name":"voice","value":"alloy"},{"name":"instructions","value":" Voice: Clear, warm, welcoming and professional. accent: hebrew"}]},"options":{"redirect":{"redirect":{}},"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5472,-176],"id":"6417bf6a-e0dd-4fab-a58c-ad858eedd31a","name":"Open AI - generate audio1","credentials":{"openAiApi":{"id":"w72DejHyJvEemirH","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"=https://chatwoot-production-934a.up.railway.app/api/v1/accounts/{{ $('Webhook1').item.json.body.account.id }}/conversations/{{ $('Webhook1').item.json.body.conversation.messages[0].conversation_id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"GQbD13Yk6zEmebcUtGDhkW9Z"},{"name":"Content-Type","value":"multipart/form-data; boundary=----WebKitFormBoundary"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"attachments[]","inputDataFieldName":"=data"},{"name":"message_type","value":"outgoing"},{"name":"file_type","value":"audio"},{"name":"content","value":"={{ $('If1').item.json.output }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5760,-176],"id":"00df4c64-493f-451b-9444-38b140e48cd3","name":"chatwoot - send message with audio file1"},{"parameters":{"operation":"create","typeName":"🤖 messages","properties":{"property":[{"key":"1 user input ","value":"={{ $('Webhook1').item.json.body.conversation.messages[0].content }}"},{"key":"2 agent output","value":"={{ $('escalation agent').item.json.output.reponse }}"},{"key":"owner ","value":"={{ $('Get user parameters').item.json.response['user ID'] }}"},{"key":"chat account ID ","value":"={{ $('Webhook1').item.json.body.account.id }}"},{"key":"chat conversation ID","value":"={{ $('Webhook1').item.json.body.conversation.messages[0].conversation_id }}"},{"key":"chat inbox ID","value":"={{ $('Webhook1').item.json.body.conversation.contact_inbox.inbox_id }}"},{"key":"4 escalation","value":"={{ $('Code in JavaScript').item.json.activeId }}"},{"key":"session","value":"={{ $json.id }}"}]}},"type":"n8n-nodes-base.bubble","typeVersion":1,"position":[7120,-576],"id":"e3a12336-9b12-49fc-ae99-6d41a66fbe26","name":"log message in bubble2","credentials":{"bubbleApi":{"id":"AYXWKQxjByw1gY7W","name":"Bubble account"}}},{"parameters":{"operation":"create","typeName":"🤖 sessions","properties":{"property":[{"key":"owner","value":"={{ $('Get user parameters').item.json.response['user ID'] }}"},{"key":"inbox ID","value":"={{ $('Webhook1').item.json.body.conversation.messages[0].inbox_id }}"},{"key":"conversation ID","value":"={{ $('Webhook1').item.json.body.conversation.messages[0].conversation_id }}"},{"key":"account ID","value":"={{ $('Webhook1').item.json.body.conversation.messages[0].account_id }}"},{"key":"escalated","value":"yes"},{"key":"billable","value":"no"},{"key":"closed","value":"yes"}]}},"type":"n8n-nodes-base.bubble","typeVersion":1,"position":[6896,-576],"id":"8c10647c-3aa4-4eaa-8c5d-13fa097e58e1","name":"Create session1","credentials":{"bubbleApi":{"id":"AYXWKQxjByw1gY7W","name":"Bubble account"}}},{"parameters":{"operation":"create","typeName":"🤖 messages","properties":{"property":[{"key":"1 user input ","value":"={{ $('Webhook1').item.json.body.conversation.messages[0].content }}"},{"key":"2 agent output","value":"={{ $('escalation agent').item.json.output.resume }}"},{"key":"owner ","value":"={{ $('Get user parameters').item.json.response['user ID'] }}"},{"key":"chat account ID ","value":"={{ $('Webhook1').item.json.body.account.id }}"},{"key":"chat conversation ID","value":"={{ $('Webhook1').item.json.body.conversation.messages[0].conversation_id }}"},{"key":"chat inbox ID","value":"={{ $('Webhook1').item.json.body.conversation.contact_inbox.inbox_id }}"},{"key":"4 escalation","value":"={{ $('Code in JavaScript').item.json.activeItem._id }}"},{"key":"session","value":"={{ $('Get user parameters').item.json.response['last session']._id }}"}]}},"type":"n8n-nodes-base.bubble","typeVersion":1,"position":[6896,-368],"id":"f253f59b-b9e0-4ca6-8d5e-b1f822aba928","name":"log message in bubble3","credentials":{"bubbleApi":{"id":"AYXWKQxjByw1gY7W","name":"Bubble account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a879e0d1-ebdc-4735-b03e-07e7dac9dfb8","leftValue":"={{ Date.now() - $('Get user parameters').item.json.response['last message']['Created Date'] }}","rightValue":300000,"operator":{"type":"number","operation":"gt"}},{"id":"9eeca0b9-e01c-4094-be93-634550b268c1","leftValue":"={{ $('Get user parameters').item.json.response['last message'] }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[6368,-464],"id":"98e069a6-39eb-4e0c-9382-31496f0769bf","name":"is new session1"},{"parameters":{"resource":"Conversation Assignment","operation":"Assign A Conversation","account_id":"={{ $('Webhook1').item.json.body.account.id }}","conversation_id":"={{ $('Webhook1').item.json.body.conversation.id }}","assignee_id":"={{ $('Get user parameters').item.json.response['User chat id'] }}","requestOptions":{}},"type":"@devlikeapro/n8n-nodes-chatwoot.chatWoot","typeVersion":1,"position":[5792,-464],"id":"d6bec31c-69e1-4924-aed5-c1c7994fc17b","name":"Assign Conversation","credentials":{"chatwootApi":{"id":"iQ2KMdnP3Z3u7ENV","name":"ChatWoot admin token"}}},{"parameters":{"resource":"Messages","operation":"Create A New Message In A Conversation","account_id":"={{ $('Webhook1').item.json.body.account.id }}","conversation_id":"={{ $('Webhook1').item.json.body.conversation.messages[0].conversation_id }}","content":"={{ $('escalation agent').item.json.output.resume }}","content_type":"={{ null }}","content_attributes":"={} ","requestOptions":{}},"type":"@devlikeapro/n8n-nodes-chatwoot.chatWoot","typeVersion":1,"position":[6064,-464],"id":"0c3c30b7-93c6-4588-9a9c-ad5bce3926e2","name":"Create New Message1","credentials":{"chatwootApi":{"id":"iQ2KMdnP3Z3u7ENV","name":"ChatWoot admin token"}}},{"parameters":{"operation":"update","typeName":"🤖 sessions","objectId":"={{ $('Get user parameters').item.json.response['last session']._id }}","properties":{"property":[{"key":"escalated","value":"yes"},{"key":"AI reason ","value":"={{ $('escalation agent').item.json.output.resume }}"},{"key":"billable","value":"no"},{"key":"closed","value":"yes"}]}},"type":"n8n-nodes-base.bubble","typeVersion":1,"position":[7104,-368],"id":"25565621-efc3-4919-8404-bdf5ff61fe57","name":"Update an object","credentials":{"bubbleApi":{"id":"AYXWKQxjByw1gY7W","name":"Bubble account"}}},{"parameters":{"jsCode":"// Récupérer les paramètres du node \"Get user parameters\"\nconst params = $('Get user parameters').first().json.response || {};\n\n// Extraire listes\nconst playbooks = params.playbooks || [];\nconst escalations = params.escalation_rules || [];\n\n// Récupérer l'output du routing agent\nconst routed = $input.first().json.output || {};\nconst activeType = routed.type;\nconst activeId = routed.id;\n\n// Variables\nlet activeItem = null;\n\n// LOGIQUE DE RÉCUPÉRATION\nif (activeType === \"scenario\") {\n  activeItem = playbooks.find(pb => pb._id === activeId);\n} else if (activeType === \"escalation\") {\n  activeItem = escalations.find(er => er._id === activeId);\n}\n\n// Si introuvable → fallback\nif (!activeItem) {\n  return [\n    {\n      json: {\n        activeType,\n        activeId,\n        activeItem: null,\n        activeText: `❌ Aucun ${activeType} trouvé pour l'ID : ${activeId}`\n      }\n    }\n  ];\n}\n\n// FORMATAGE\nlet cleanText = \"\";\n\nif (activeType === \"scenario\") {\n  cleanText = `\n### Scenario\n**ID:** ${activeId}\n**Title:** ${activeItem.title}\n**Audience:** ${activeItem.audience || \"N/A\"}\n**Content:** ${activeItem.content || \"N/A\"}\n**Rules:** ${activeItem.rules || \"N/A\"}\n  `.trim();\n}\n\nif (activeType === \"escalation\") {\n  cleanText = `\n### Escalation\n**ID:** ${activeId}\n**Title:** ${activeItem.title}\n**Trigger:** ${activeItem.trigger || \"N/A\"}\n**Audience:** ${activeItem.audience || \"N/A\"}\n**Rules:** ${activeItem.rules || \"N/A\"}\n  `.trim();\n}\n\n// OUTPUT FINAL\nreturn [\n  {\n    json: {\n      activeType,\n      activeId,\n      activeItem,\n      activeText: cleanText\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3648,272],"id":"b9a25712-d061-40b8-9676-303b93afe572","name":"Load playbook"},{"parameters":{"typeName":"Tool","objectId":"={{ $json.activeItem?.tool ?? null }}\n"},"type":"n8n-nodes-base.bubble","typeVersion":1,"position":[4064,272],"id":"e38460ce-31d1-42c2-b97e-7e59851e5a95","name":"Load tool","credentials":{"bubbleApi":{"id":"AYXWKQxjByw1gY7W","name":"Bubble account"}},"onError":"continueRegularOutput"},{"parameters":{"toolDescription":"={{ $json.description }}","method":"={{ $json.method }}","url":"={{ $json.URL }}","sendQuery":true,"specifyQuery":"json","jsonQuery":"={{ $json['query parameters'] }}","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"={{ $json.header }}","sendBody":true,"specifyBody":"json","jsonBody":"={{ $fromAI('body', 'Generate JSON matching this schema: ' + $('Load tool').item.json['body shema'], 'json') }}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[4752,560],"id":"7324d442-1ce3-4adc-9801-f408ca37413a","name":"API call"},{"parameters":{"resource":"Agent Bots","operation":"List All Agent Bots","requestOptions":{}},"type":"@devlikeapro/n8n-nodes-chatwoot.chatWoot","typeVersion":1,"position":[6560,624],"id":"89b65f19-c3d2-40b0-8190-f2ca4ab07299","name":"List all AgentBots","credentials":{"chatwootApi":{"id":"iQ2KMdnP3Z3u7ENV","name":"ChatWoot admin token"}}},{"parameters":{"method":"POST","url":"=https://chat.cardynal.io/api/v1/accounts/{{ $('Webhook1').item.json.body.account.id }}/conversations/{{ $('Webhook1').item.json.body.conversation.messages[0].conversation_id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Get user parameters').item.json.response['agent token'] }}"},{"name":"Content-Type","value":"={{null}}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"content","value":"={{ $('If').item.json.output }}"},{"name":"sender_type","value":"agent_bot"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5760,368],"id":"7a53b25c-6b00-4d10-bde1-efff4005a919","name":"chatwoot - send message with audio file2"},{"parameters":{"method":"POST","url":"=https://chat.cardynal.io/api/v1/accounts/{{ $('Webhook1').item.json.body.account.id }}/conversations/{{ $('Webhook1').item.json.body.conversation.messages[0].conversation_id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Get user parameters').item.json.response['agent token'] }}"},{"name":"Content-Type","value":"={{null}}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"content","value":"={{ $json.output.reponse }}"},{"name":"sender_type","value":"agent_bot"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5520,-464],"id":"8860eac1-de50-43f0-a099-9c0299bc850c","name":"chatwoot - send message with audio file3"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Playbook agent","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Knowledge base","type":"ai_embedding","index":0}]]},"If":{"main":[[{"node":"chatwoot - send message with audio file2","type":"main","index":0}],[{"node":"Open AI - generate audio","type":"main","index":0}]]},"Open AI - generate audio":{"main":[[{"node":"chatwoot - send message with audio file","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"If incoming","type":"main","index":0}]]},"If incoming":{"main":[[{"node":"Get user parameters","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Playbook agent","type":"ai_memory","index":0}]]},"Knowledge base":{"ai_tool":[[{"node":"Playbook agent","type":"ai_tool","index":0}]]},"Get user parameters":{"main":[[{"node":"Load playbooks","type":"main","index":0}]]},"Routing agent":{"main":[[{"node":"Switch","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Routing agent","type":"ai_languageModel","index":0}]]},"Simple Memory1":{"ai_memory":[[]]},"chatwoot - send message with audio file":{"main":[[]]},"Create New Message2":{"main":[[{"node":"is new session","type":"main","index":0}]]},"Load playbooks":{"main":[[{"node":"Routing agent","type":"main","index":0}]]},"Create session":{"main":[[{"node":"log message in bubble","type":"main","index":0}]]},"is new session":{"main":[[{"node":"Create session","type":"main","index":0}],[{"node":"log message in bubble1","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Routing agent","type":"ai_outputParser","index":0}]]},"Switch":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}],[{"node":"Load playbook","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"escalation agent","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"escalation agent","type":"ai_languageModel","index":0}]]},"Simple Memory2":{"ai_memory":[[{"node":"escalation agent","type":"ai_memory","index":0}]]},"Playbook agent":{"main":[[{"node":"If","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"escalation agent","type":"ai_outputParser","index":0}]]},"escalation agent":{"main":[[{"node":"If1","type":"main","index":0}]]},"Create New Message":{"main":[[{"node":"Assign Conversation","type":"main","index":0}]]},"If1":{"main":[[{"node":"chatwoot - send message with audio file3","type":"main","index":0}],[{"node":"Open AI - generate audio1","type":"main","index":0}]]},"Open AI - generate audio1":{"main":[[{"node":"chatwoot - send message with audio file1","type":"main","index":0}]]},"Create session1":{"main":[[{"node":"log message in bubble2","type":"main","index":0}]]},"is new session1":{"main":[[{"node":"Create session1","type":"main","index":0}],[{"node":"log message in bubble3","type":"main","index":0}]]},"Assign Conversation":{"main":[[{"node":"is new session1","type":"main","index":0},{"node":"Create New Message1","type":"main","index":0}]]},"Create New Message1":{"main":[[{"node":"is new session1","type":"main","index":0}]]},"log message in bubble3":{"main":[[{"node":"Update an object","type":"main","index":0}]]},"Load playbook":{"main":[[{"node":"Load tool","type":"main","index":0}]]},"Load tool":{"main":[[{"node":"Playbook agent","type":"main","index":0}]]},"API call":{"ai_tool":[[{"node":"Playbook agent","type":"ai_tool","index":0}]]},"List all AgentBots":{"main":[[]]},"chatwoot - send message with audio file2":{"main":[[{"node":"is new session","type":"main","index":0}]]},"chatwoot - send message with audio file3":{"main":[[{"node":"Assign Conversation","type":"main","index":0}]]}},"authors":"aaron attias","name":"Version e8f7ec1d","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-01-15T13:42:05.859Z","id":177,"workflowId":"KaXPranNfRh0GvQQ","versionId":"e8f7ec1d-3b47-4412-9c6b-2ccb7fc94a8b","event":"activated","userId":"ac2f86bd-9283-4be5-a1f6-7e9bfa22c219"}]}}