n8n/dynamic-tool-agent-original.json
{"updatedAt":"2025-12-28T21:23:19.374Z","createdAt":"2025-12-28T20:44:48.153Z","id":"YRPQVT16WBZyFJac","name":"Cardynal - Dynamic Tool Agent","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"toolDescription":"={{ $json.decription }}","method":"={{ $json.type }}","url":"={{ $json.URL }}","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"Content-Type\": \"application/json\"\n}\n","sendBody":true,"specifyBody":"json","jsonBody":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('JSON', ``, 'json') }}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[112,288],"id":"63e389f6-a139-42ee-8964-452e2d9bc264","name":"HTTP Request1"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Search the company knowledge base to answer user questions. Contains product information, policies, procedures, FAQs, and support documentation. Use this tool before saying you don't have information. Query with specific keywords from the user's question.","tableName":{"__rl":true,"value":"vector_store","mode":"list","cachedResultName":"vector_store"},"options":{"metadata":{"metadataValues":[{"name":"user_ID","value":"={{ $json.response['user ID'] }}"}]}}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[240,288],"id":"6219c4f6-dc15-47ae-8b52-16ae5dcfa9cc","name":"Knowledge base1","credentials":{"supabaseApi":{"id":"tQMGMR567EpxcMjf","name":"Supabase account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.body.account.id }}x{{ $json.body.conversation.messages[0].conversation_id }}","contextWindowLength":"=10"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-32,288],"id":"aa3d591c-eac3-4fe2-80a7-fa5f71ed74e2","name":"Simple Memory3"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[240,464],"id":"57d21df7-66b6-4c68-bcba-f38efea5881c","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"w72DejHyJvEemirH","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-176,288],"id":"4dd6cadd-19b3-425f-b24a-c77b4f154e57","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"w72DejHyJvEemirH","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"=You are a conversational assistant whose goal is to capture lead information naturally during a chat.\n\nYou must behave like a normal human assistant.\nDo NOT output JSON.\nDo NOT mention tools, schemas, webhooks, or technical details to the user.\n\nYour job is to:\n1. Talk with the user normally.\n2. Progressively extract lead information from the conversation.\n3. Ask short, natural follow-up questions ONLY when information is missing.\n4. Call the lead capture tool ONLY when enough information has been collected.\n\n────────────────────\nLEAD INFORMATION TO COLLECT\n────────────────────\n\nYou may extract the following fields from the conversation:\n\n- first_name (string | null)\n- last_name (string | null)\n- email (string | null)\n- phone (string | null)\n- company (string | null)\n\nYou must also set:\n- source = \"chat\"\n- confidence = a number between 0 and 1 indicating how reliable the lead is\n\n────────────────────\nWHEN TO CALL THE TOOL\n────────────────────\n\nYou are allowed to call the tool ONLY if:\n- At least ONE contact method is provided (email OR phone)\n\nIf neither email nor phone is available:\n- Continue the conversation\n- Ask politely for one of them\n- Do NOT call the tool\n\n────────────────────\nHOW TO CALL THE TOOL\n────────────────────\n\nWhen calling the tool:\n- Call it ONCE\n- Populate the body strictly following this schema:\n\n{\n  \"lead\": {\n    \"first_name\": string | null,\n    \"last_name\": string | null,\n    \"email\": string | null,\n    \"phone\": string | null,\n    \"company\": string | null,\n    \"source\": \"chat\",\n    \"confidence\": number\n  }\n}\n\n- Use null for any missing field\n- Do NOT add any extra fields\n- Do NOT wrap the payload\n- The tool call must contain ONLY the body\n\n────────────────────\nAFTER THE TOOL IS CALLED\n────────────────────\n\nAfter calling the tool:\n- Continue the conversation naturally\n- Confirm politely that the request was received (without technical language)\n- Do NOT mention that a tool or webhook was triggered\n- Never call the tool again in the same conversation\n\n────────────────────\nIMPORTANT RULES\n────────────────────\n\n- Never output JSON to the user\n- Never expose internal logic\n- Never retry the tool automatically\n- Never hallucinate contact details\n- If the user refuses to share contact info, respect it and continue chatting\n","enableStreaming":false}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[0,0],"id":"d7ead866-aa7b-44b1-8ef5-d38e2e852ab8","name":"agent tool"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-432,0],"id":"1f86a9c1-e707-4513-a090-e018bd43dab1","name":"When chat message received","webhookId":"94735cf5-b47d-4906-a789-16f27b6a0e6b"},{"parameters":{"assignments":{"assignments":[{"id":"5aaf2c27-2113-4e7e-ae06-7c1307dd6065","name":"decription","value":"This tool sends structured lead data to an external webhook.  It expects a JSON body following this exact schema:  {   \"lead\": {     \"first_name\": string | null,     \"last_name\": string | null,     \"email\": string | null,     \"phone\": string | null,     \"company\": string | null,     \"source\": \"chat\",     \"confidence\": number | null   } }  The purpose of this tool is to capture and forward user contact details extracted from a conversation.  The tool does not decide when or how it is called. It only transmits the data it receives in the `body`.  All fields may be null if information is missing. No additional fields are allowed.","type":"string"},{"id":"a16784a6-3155-4bab-8e4c-124598c5c124","name":"type","value":"POST","type":"string"},{"id":"16c11897-4d14-4b89-9195-3ddb5a73374b","name":"URL","value":"https://api.cardynal.io/webhook/da5d8531-6ade-4d4d-a00f-2ecbb6986e75","type":"string"},{"id":"4e2475c3-d426-4c4c-817a-64d8a0466d0c","name":"query parameters","value":"","type":"string"},{"id":"0ba81775-53d4-4122-960b-d31760f06f4f","name":"headers","value":"","type":"string"},{"id":"6a9ec760-bbad-4292-906f-f463e590b7f5","name":"body","value":"{     \"lead\": {       \"first_name\": null,       \"last_name\": null,       \"email\": null,       \"phone\": null,       \"company\": null,       \"source\": \"chat\",       \"confidence\": null     }","type":"string"},{"id":"3a931953-e85d-4c09-97b2-550b16aa0961","name":"chatInput","value":"={{ $json.chatInput }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-208,0],"id":"6c9de54c-02ef-4391-b22f-c070d62446b3","name":"Edit Fields"},{"parameters":{"httpMethod":"POST","path":"da5d8531-6ade-4d4d-a00f-2ecbb6986e75","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,-672],"id":"ca5de99c-49fe-4fd5-9c90-a62614c179d9","name":"Webhook","webhookId":"da5d8531-6ade-4d4d-a00f-2ecbb6986e75"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-432,-176],"id":"64d6d225-4744-42b0-ac6a-ea7299922210","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"chat-input","name":"chatInput","value":"={{ $json.chatInput }}","type":"string"},{"id":"session-id","name":"sessionId","value":"={{ $json.sessionId }}","type":"string"},{"id":"user-id","name":"userId","value":"={{ $json.body?.account?.id || 'default-user' }}","type":"string"},{"id":"tool-config","name":"toolConfig","value":"={{ JSON.stringify({ \"name\": \"capture_lead\", \"description\": \"Use this tool when the user provides contact information (name, email, phone, company) or expresses interest in being contacted. Extract all available contact details from the conversation.\", \"method\": \"POST\", \"url\": \"https://api.cardynal.io/webhook/da5d8531-6ade-4d4d-a00f-2ecbb6986e75\", \"bodySchema\": { \"lead\": { \"first_name\": \"string or null - user's first name\", \"last_name\": \"string or null - user's last name\", \"email\": \"string or null - user's email address\", \"phone\": \"string or null - user's phone number\", \"company\": \"string or null - user's company name\", \"source\": \"chat\", \"confidence\": \"number 0-1 - how confident you are the user wants to be contacted\" } } }) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,944],"id":"c94def0c-6a02-4a77-9ca7-507d63cc225e","name":"Prepare Context"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"You are a helpful customer support assistant for a company.\n\nYou have access to the following tools:\n1. **Knowledge Base** - Search company documentation to answer user questions\n2. **Lead Capture** - Capture contact information when users want to be contacted\n\nGuidelines:\n- Always search the knowledge base first when users ask questions\n- If a user provides contact info or wants to be contacted, use the lead capture tool\n- Be helpful, professional, and concise\n- If you don't have information, say so honestly\n\nCurrent user ID for knowledge base filtering: {{ $json.userId }}","maxIterations":5}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[688,944],"id":"9a8c9ad4-9940-4244-9925-0f26e6be9788","name":"Support Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[576,1168],"id":"3aa9572b-8902-47d9-8fae-e79ca684f700","name":"GPT-4.1 Mini","credentials":{"openAiApi":{"id":"w72DejHyJvEemirH","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Prepare Context').item.json.sessionId }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[688,1168],"id":"1f03f1d8-d33d-4ef9-8df8-1664affac3f5","name":"Conversation Memory"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Search the company knowledge base to answer user questions. Contains product information, policies, procedures, FAQs, and support documentation. Use this tool before saying you don't have information. Query with specific keywords from the user's question.","tableName":{"__rl":true,"value":"vector_store","mode":"list","cachedResultName":"vector_store"},"options":{"metadata":{"metadataValues":[{"name":"user_ID","value":"={{ $('Prepare Context').item.json.userId }}"}]}}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[816,1168],"id":"2daf2e79-d7ac-4ce7-bf4c-5e4d22653847","name":"Knowledge Base","credentials":{"supabaseApi":{"id":"tQMGMR567EpxcMjf","name":"Supabase account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[816,1328],"id":"eea7a773-9168-48ca-aaae-7da0b0b1688f","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"w72DejHyJvEemirH","name":"OpenAi account"}}},{"parameters":{"toolDescription":"Use this tool to capture lead information when a user provides contact details (name, email, phone, company) or expresses interest in being contacted. Extract all available information from the conversation context.","method":"POST","url":"https://api.cardynal.io/webhook/da5d8531-6ade-4d4d-a00f-2ecbb6986e75","sendBody":true,"specifyBody":"json","jsonBody":"={{ $fromAI('leadData', 'JSON object with lead info: {\"lead\": {\"first_name\": string|null, \"last_name\": string|null, \"email\": string|null, \"phone\": string|null, \"company\": string|null, \"source\": \"chat\", \"confidence\": number 0-1}}', 'json') }}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[1168,1152],"id":"126454b7-7c59-4840-9efe-772c9d63b90e","name":"Lead Capture Tool"}],"connections":{"HTTP Request1":{"ai_tool":[[{"node":"agent tool","type":"ai_tool","index":0}]]},"Knowledge base1":{"ai_tool":[[{"node":"agent tool","type":"ai_tool","index":0}]]},"Simple Memory3":{"ai_memory":[[{"node":"agent tool","type":"ai_memory","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Knowledge base1","type":"ai_embedding","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"agent tool","type":"ai_languageModel","index":0}]]},"When chat message received":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"agent tool","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Prepare Context":{"main":[[{"node":"Support Agent","type":"main","index":0}]]},"GPT-4.1 Mini":{"ai_languageModel":[[{"node":"Support Agent","type":"ai_languageModel","index":0}]]},"Conversation Memory":{"ai_memory":[[{"node":"Support Agent","type":"ai_memory","index":0}]]},"Knowledge Base":{"ai_tool":[[{"node":"Support Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Knowledge Base","type":"ai_embedding","index":0}]]},"Lead Capture Tool":{"ai_tool":[[{"node":"Support Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"5b715ba7-280e-492c-a2ef-eec409682478","activeVersionId":"5b715ba7-280e-492c-a2ef-eec409682478","versionCounter":12,"triggerCount":2,"shared":[{"updatedAt":"2025-12-28T20:44:48.153Z","createdAt":"2025-12-28T20:44:48.153Z","role":"workflow:owner","workflowId":"YRPQVT16WBZyFJac","projectId":"DqPDC4tuv3DThGLm","project":{"updatedAt":"2025-12-09T12:55:01.738Z","createdAt":"2025-12-09T11:17:38.146Z","id":"DqPDC4tuv3DThGLm","name":"aaron attias <a@cardynal.io>","type":"personal","icon":null,"description":null,"creatorId":"ac2f86bd-9283-4be5-a1f6-7e9bfa22c219","projectRelations":[{"updatedAt":"2025-12-09T11:17:38.146Z","createdAt":"2025-12-09T11:17:38.146Z","userId":"ac2f86bd-9283-4be5-a1f6-7e9bfa22c219","projectId":"DqPDC4tuv3DThGLm","user":{"updatedAt":"2026-01-29T12:51:03.673Z","createdAt":"2025-12-09T11:17:36.814Z","id":"ac2f86bd-9283-4be5-a1f6-7e9bfa22c219","email":"a@cardynal.io","firstName":"aaron","lastName":"attias","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-09T12:55:26.470Z","personalization_survey_n8n_version":"1.123.4","companySize":"<20","companyType":"systems-integrator","role":"business-owner","reportedSource":"friend"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"qk9en5K0UqXhFrCQkdjL2","userActivatedAt":1769556709245,"easyAIWorkflowOnboarded":true,"npsSurvey":{"responded":true,"lastShownAt":1768483432887}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-29","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2025-12-28T21:23:22.343Z","createdAt":"2025-12-28T21:23:19.376Z","versionId":"5b715ba7-280e-492c-a2ef-eec409682478","workflowId":"YRPQVT16WBZyFJac","nodes":[{"parameters":{"toolDescription":"={{ $json.decription }}","method":"={{ $json.type }}","url":"={{ $json.URL }}","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"Content-Type\": \"application/json\"\n}\n","sendBody":true,"specifyBody":"json","jsonBody":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('JSON', ``, 'json') }}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[112,288],"id":"63e389f6-a139-42ee-8964-452e2d9bc264","name":"HTTP Request1"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Search the company knowledge base to answer user questions. Contains product information, policies, procedures, FAQs, and support documentation. Use this tool before saying you don't have information. Query with specific keywords from the user's question.","tableName":{"__rl":true,"value":"vector_store","mode":"list","cachedResultName":"vector_store"},"options":{"metadata":{"metadataValues":[{"name":"user_ID","value":"={{ $json.response['user ID'] }}"}]}}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[240,288],"id":"6219c4f6-dc15-47ae-8b52-16ae5dcfa9cc","name":"Knowledge base1","credentials":{"supabaseApi":{"id":"tQMGMR567EpxcMjf","name":"Supabase account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.body.account.id }}x{{ $json.body.conversation.messages[0].conversation_id }}","contextWindowLength":"=10"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-32,288],"id":"aa3d591c-eac3-4fe2-80a7-fa5f71ed74e2","name":"Simple Memory3"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[240,464],"id":"57d21df7-66b6-4c68-bcba-f38efea5881c","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"w72DejHyJvEemirH","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-176,288],"id":"4dd6cadd-19b3-425f-b24a-c77b4f154e57","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"w72DejHyJvEemirH","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"=You are a conversational assistant whose goal is to capture lead information naturally during a chat.\n\nYou must behave like a normal human assistant.\nDo NOT output JSON.\nDo NOT mention tools, schemas, webhooks, or technical details to the user.\n\nYour job is to:\n1. Talk with the user normally.\n2. Progressively extract lead information from the conversation.\n3. Ask short, natural follow-up questions ONLY when information is missing.\n4. Call the lead capture tool ONLY when enough information has been collected.\n\n────────────────────\nLEAD INFORMATION TO COLLECT\n────────────────────\n\nYou may extract the following fields from the conversation:\n\n- first_name (string | null)\n- last_name (string | null)\n- email (string | null)\n- phone (string | null)\n- company (string | null)\n\nYou must also set:\n- source = \"chat\"\n- confidence = a number between 0 and 1 indicating how reliable the lead is\n\n────────────────────\nWHEN TO CALL THE TOOL\n────────────────────\n\nYou are allowed to call the tool ONLY if:\n- At least ONE contact method is provided (email OR phone)\n\nIf neither email nor phone is available:\n- Continue the conversation\n- Ask politely for one of them\n- Do NOT call the tool\n\n────────────────────\nHOW TO CALL THE TOOL\n────────────────────\n\nWhen calling the tool:\n- Call it ONCE\n- Populate the body strictly following this schema:\n\n{\n  \"lead\": {\n    \"first_name\": string | null,\n    \"last_name\": string | null,\n    \"email\": string | null,\n    \"phone\": string | null,\n    \"company\": string | null,\n    \"source\": \"chat\",\n    \"confidence\": number\n  }\n}\n\n- Use null for any missing field\n- Do NOT add any extra fields\n- Do NOT wrap the payload\n- The tool call must contain ONLY the body\n\n────────────────────\nAFTER THE TOOL IS CALLED\n────────────────────\n\nAfter calling the tool:\n- Continue the conversation naturally\n- Confirm politely that the request was received (without technical language)\n- Do NOT mention that a tool or webhook was triggered\n- Never call the tool again in the same conversation\n\n────────────────────\nIMPORTANT RULES\n────────────────────\n\n- Never output JSON to the user\n- Never expose internal logic\n- Never retry the tool automatically\n- Never hallucinate contact details\n- If the user refuses to share contact info, respect it and continue chatting\n","enableStreaming":false}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[0,0],"id":"d7ead866-aa7b-44b1-8ef5-d38e2e852ab8","name":"agent tool"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-432,0],"id":"1f86a9c1-e707-4513-a090-e018bd43dab1","name":"When chat message received","webhookId":"94735cf5-b47d-4906-a789-16f27b6a0e6b"},{"parameters":{"assignments":{"assignments":[{"id":"5aaf2c27-2113-4e7e-ae06-7c1307dd6065","name":"decription","value":"This tool sends structured lead data to an external webhook.  It expects a JSON body following this exact schema:  {   \"lead\": {     \"first_name\": string | null,     \"last_name\": string | null,     \"email\": string | null,     \"phone\": string | null,     \"company\": string | null,     \"source\": \"chat\",     \"confidence\": number | null   } }  The purpose of this tool is to capture and forward user contact details extracted from a conversation.  The tool does not decide when or how it is called. It only transmits the data it receives in the `body`.  All fields may be null if information is missing. No additional fields are allowed.","type":"string"},{"id":"a16784a6-3155-4bab-8e4c-124598c5c124","name":"type","value":"POST","type":"string"},{"id":"16c11897-4d14-4b89-9195-3ddb5a73374b","name":"URL","value":"https://api.cardynal.io/webhook/da5d8531-6ade-4d4d-a00f-2ecbb6986e75","type":"string"},{"id":"4e2475c3-d426-4c4c-817a-64d8a0466d0c","name":"query parameters","value":"","type":"string"},{"id":"0ba81775-53d4-4122-960b-d31760f06f4f","name":"headers","value":"","type":"string"},{"id":"6a9ec760-bbad-4292-906f-f463e590b7f5","name":"body","value":"{     \"lead\": {       \"first_name\": null,       \"last_name\": null,       \"email\": null,       \"phone\": null,       \"company\": null,       \"source\": \"chat\",       \"confidence\": null     }","type":"string"},{"id":"3a931953-e85d-4c09-97b2-550b16aa0961","name":"chatInput","value":"={{ $json.chatInput }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-208,0],"id":"6c9de54c-02ef-4391-b22f-c070d62446b3","name":"Edit Fields"},{"parameters":{"httpMethod":"POST","path":"da5d8531-6ade-4d4d-a00f-2ecbb6986e75","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,-672],"id":"ca5de99c-49fe-4fd5-9c90-a62614c179d9","name":"Webhook","webhookId":"da5d8531-6ade-4d4d-a00f-2ecbb6986e75"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-432,-176],"id":"64d6d225-4744-42b0-ac6a-ea7299922210","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"chat-input","name":"chatInput","value":"={{ $json.chatInput }}","type":"string"},{"id":"session-id","name":"sessionId","value":"={{ $json.sessionId }}","type":"string"},{"id":"user-id","name":"userId","value":"={{ $json.body?.account?.id || 'default-user' }}","type":"string"},{"id":"tool-config","name":"toolConfig","value":"={{ JSON.stringify({ \"name\": \"capture_lead\", \"description\": \"Use this tool when the user provides contact information (name, email, phone, company) or expresses interest in being contacted. Extract all available contact details from the conversation.\", \"method\": \"POST\", \"url\": \"https://api.cardynal.io/webhook/da5d8531-6ade-4d4d-a00f-2ecbb6986e75\", \"bodySchema\": { \"lead\": { \"first_name\": \"string or null - user's first name\", \"last_name\": \"string or null - user's last name\", \"email\": \"string or null - user's email address\", \"phone\": \"string or null - user's phone number\", \"company\": \"string or null - user's company name\", \"source\": \"chat\", \"confidence\": \"number 0-1 - how confident you are the user wants to be contacted\" } } }) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,944],"id":"c94def0c-6a02-4a77-9ca7-507d63cc225e","name":"Prepare Context"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"You are a helpful customer support assistant for a company.\n\nYou have access to the following tools:\n1. **Knowledge Base** - Search company documentation to answer user questions\n2. **Lead Capture** - Capture contact information when users want to be contacted\n\nGuidelines:\n- Always search the knowledge base first when users ask questions\n- If a user provides contact info or wants to be contacted, use the lead capture tool\n- Be helpful, professional, and concise\n- If you don't have information, say so honestly\n\nCurrent user ID for knowledge base filtering: {{ $json.userId }}","maxIterations":5}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[688,944],"id":"9a8c9ad4-9940-4244-9925-0f26e6be9788","name":"Support Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[576,1168],"id":"3aa9572b-8902-47d9-8fae-e79ca684f700","name":"GPT-4.1 Mini","credentials":{"openAiApi":{"id":"w72DejHyJvEemirH","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Prepare Context').item.json.sessionId }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[688,1168],"id":"1f03f1d8-d33d-4ef9-8df8-1664affac3f5","name":"Conversation Memory"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Search the company knowledge base to answer user questions. Contains product information, policies, procedures, FAQs, and support documentation. Use this tool before saying you don't have information. Query with specific keywords from the user's question.","tableName":{"__rl":true,"value":"vector_store","mode":"list","cachedResultName":"vector_store"},"options":{"metadata":{"metadataValues":[{"name":"user_ID","value":"={{ $('Prepare Context').item.json.userId }}"}]}}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[816,1168],"id":"2daf2e79-d7ac-4ce7-bf4c-5e4d22653847","name":"Knowledge Base","credentials":{"supabaseApi":{"id":"tQMGMR567EpxcMjf","name":"Supabase account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[816,1328],"id":"eea7a773-9168-48ca-aaae-7da0b0b1688f","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"w72DejHyJvEemirH","name":"OpenAi account"}}},{"parameters":{"toolDescription":"Use this tool to capture lead information when a user provides contact details (name, email, phone, company) or expresses interest in being contacted. Extract all available information from the conversation context.","method":"POST","url":"https://api.cardynal.io/webhook/da5d8531-6ade-4d4d-a00f-2ecbb6986e75","sendBody":true,"specifyBody":"json","jsonBody":"={{ $fromAI('leadData', 'JSON object with lead info: {\"lead\": {\"first_name\": string|null, \"last_name\": string|null, \"email\": string|null, \"phone\": string|null, \"company\": string|null, \"source\": \"chat\", \"confidence\": number 0-1}}', 'json') }}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[1168,1152],"id":"126454b7-7c59-4840-9efe-772c9d63b90e","name":"Lead Capture Tool"}],"connections":{"HTTP Request1":{"ai_tool":[[{"node":"agent tool","type":"ai_tool","index":0}]]},"Knowledge base1":{"ai_tool":[[{"node":"agent tool","type":"ai_tool","index":0}]]},"Simple Memory3":{"ai_memory":[[{"node":"agent tool","type":"ai_memory","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Knowledge base1","type":"ai_embedding","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"agent tool","type":"ai_languageModel","index":0}]]},"When chat message received":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"agent tool","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Prepare Context":{"main":[[{"node":"Support Agent","type":"main","index":0}]]},"GPT-4.1 Mini":{"ai_languageModel":[[{"node":"Support Agent","type":"ai_languageModel","index":0}]]},"Conversation Memory":{"ai_memory":[[{"node":"Support Agent","type":"ai_memory","index":0}]]},"Knowledge Base":{"ai_tool":[[{"node":"Support Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Knowledge Base","type":"ai_embedding","index":0}]]},"Lead Capture Tool":{"ai_tool":[[{"node":"Support Agent","type":"ai_tool","index":0}]]}},"authors":"aaron attias","name":"Version 5b715ba7","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-12-28T21:23:22.337Z","id":149,"workflowId":"YRPQVT16WBZyFJac","versionId":"5b715ba7-280e-492c-a2ef-eec409682478","event":"activated","userId":"ac2f86bd-9283-4be5-a1f6-7e9bfa22c219"}]}}